<template>

<welcome/>

</template>

<script>

import Welcome from "@/Pages/Welcome";

export default {
    name: "HomePage",
    components: {
        Welcome,
    },
}
</script>

<style scoped>

</style>
