<template>
    <GoogleMap
        api-key="AIzaSyC57LtGParA8Ek4FJWaTMoFJvmHuwHiuZc"
        style="  width: 100%; height: 100vh"
        :center="center"
        :zoom="8"
    >
        <Marker :options="{ position: center }" />
    </GoogleMap>
</template>

<script>
import { defineComponent } from 'vue'
import { GoogleMap, Marker } from 'vue3-google-map';

export default defineComponent({
        name: "FVGMaps",

        components: { GoogleMap, Marker },
        setup() {
            const center = { lat: 7.9527706, lng: -1.0307118 }

            return { center }
        },

})
</script>

<style scoped>

</style>
