<template>
    <vue-google-maps
        style="width: 100%; height: 100vh"
        :map-config="mapConfig"
        :api-key="apiKey"
    ></vue-google-maps>
</template>

<script>
import VueGoogleMaps from "@point-hub/vue-google-maps";

export default {
    components: {
        VueGoogleMaps
    },
    data() {
        return {
            apiKey: 'AIzaSyC57LtGParA8Ek4FJWaTMoFJvmHuwHiuZc',
            mapConfig: {
                zoom: 8,
                center: { lat: 7.9527706, lng: -1.0307118 }
            }
        };
    }
};
</script>
