<template>

</template>

<script>
// import { POINT_MARKER_ICON_CONFIG } from '@/constants/mapSettings'

export default {
    name: "GoogleMapMarker",
    props: {
        google: {
            type: Object,
            required: true
        },
        map: {
            type: Object,
            required: true
        },
        marker: {
            type: Object,
            required: true
        }
    },

    mounted() {
        new this.google.maps.Marker({
            position: this.marker.position,
            marker: this.marker,
            map: this.map,
            // icon: POINT_MARKER_ICON_CONFIG
        })
    }
}
</script>

<style scoped>

</style>
