<template>
    <div>
        <div class="google-map" ref="googleMap"></div>
        <template v-if="Boolean(this.google) && Boolean(this.map)">
            <slot
                :google="google"
                :map="map"
            />
        </template>
    </div>
</template>

<script>
import {Loader} from '@googlemaps/js-api-loader';

export default {
    name: "GoogleMapsLoader",
    props: {
        mapConfig: Object,
        apiKey: 'AIzaSyC57LtGParA8Ek4FJWaTMoFJvmHuwHiuZc',
    },

    data() {
        return {
            google: null,
            map: null
        }
    },

    async mounted() {
        this.google = await Loader({
            apiKey: this.apiKey,
            version: 'weekly',
            libraries: [],
        })
        this.initializeMap()
    },

    methods: {
        initializeMap() {
            const mapContainer = this.$refs.googleMap
            this.map = new this.google.maps.Map(
                mapContainer, this.mapConfig
            )
        }
    }
}
</script>

<style scoped>

</style>
