<template>
    <div class="flex -mx-3 my-2">
        <div class="w-full px-3">
            <slot name="label"/>
            <div class="flex">
                <div class="w-10 z-10 pl-1 text-center pointer-events-none flex bg-transparent text-gray-300 focus:text-green-300 items-center justify-center">
                    <slot name="icon"/>
                </div>
                <slot name="input"/>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "InputHolder",
}
</script>

<style scoped>

</style>
