<template>
    <h2 class="text-gray-900 text-lg mb-1 font-medium title-font">Request for Truck</h2>

    <form :action="route('searching')" method="POST" @submit.prevent="submit">
        <p class="leading-relaxed mb-5 text-gray-600">
<!--            <x-jet-validation-errors/>-->
<!--            <x-success/>-->
        </p>
        <div class="relative mb-4">
            <jet-label for="pickup" class="leading-7 text-sm text-gray-600">Pickup Location</jet-label>
            <jet-input type="text" id="pickup" name="pickup" :model-value="form.pickup" @update:model-value ="form.pickup=$event" placeholder="Enter pickup location" class="w-full border border-gray-300 focus:border-green-500 focus:ring-2 focus:ring-green-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"/>
            <span v-if="hasErrors" class="error text-red-600 text-xs">{{ errors.pickup }}</span>
        </div>
        <div class="relative mb-4">
            <jet-label for="dropoff" class="leading-7 text-sm text-gray-600">Drop-off Location</jet-label>
            <jet-input type="text" id="dropoff" :model-value="form.dropoff" @update:model-value ="form.dropoff=$event" name="dropoff" placeholder="Enter dropoff location" class="w-full border border-gray-300 focus:border-green-500 focus:ring-2 focus:ring-green-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"/>
            <span v-if="hasErrors" class="error text-red-600 text-xs">{{ errors.dropoff }}</span>
        </div>
        <div class="relative mb-4">
            <jet-label for="load_type">Select the Load Type</jet-label>
            <select name="load_type" v-model="form.load_type" class="w-full border border-gray-300 focus:border-green-500 focus:ring-2 focus:ring-green-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                <option value="grains">Grains</option>
                <option value="grains">Tubers</option>
                <option value="grains">Fruits and Vegetables</option>
            </select>
            <span v-if="hasErrors" class="error text-red-600 text-xs">{{ errors.load_type }}</span>
        </div>
        <div class="relative mb-4">
            <jet-label for="quantity" class="leading-7 text-sm text-gray-600">Quantity</jet-label>
            <jet-input type="number" id="quantity" v-model="form.quantity" name="quantity" class="w-full border border-gray-300 focus:border-green-500 focus:ring-2 focus:ring-green-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"/>
            <span v-if="hasErrors" class="error text-red-600 text-xs">{{ errors.quantity }}</span>
        </div>

        <jet-button class="text-white  bg-green-500 border-0 py-2 px-6 focus:bg-gray-400 hover:bg-green-600 text-lg" type="submit" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
            Book Order
        </jet-button>
    </form>
</template>
<script>
import JetValidationErrors from "@/Jetstream/ValidationErrors";
import JetLabel from "@/Jetstream/Label";
import JetInput from "@/Jetstream/Input";
import JetButton from "@/Jetstream/Button";


export default {
    name: "RequestForm",
    components: {
        JetValidationErrors,
        JetLabel,
        JetInput,
        JetButton,
    },

    data() {
        return {
            form: this.$inertia.form({
                pickup: this.$store.state.order.pickup,
                dropoff: this.$store.state.order.dropoff,
                load_type: this.load_type,
                quantity: this.quantity,
                pickupLat:this.$store.state.order.lat,
                pickupLng:this.$store.state.order.lng,
                dropoffLat:this.$store.state.order.latD,
                dropoffLng:this.$store.state.order.lngD,
            }),
        }
    },
    methods: {
        submit(){
            this.form.post(this.route('searching'),{
                // onFinish: () => this.form.reset(),
            })
        },
    },
    computed: {
        order: {
            get() {
                return this.$store.state.order;
            },
            set(value) {
                this.$store.commit('updateOrder', value)
            },
        },
        errors() {
            return this.$page.props.errors
        },

        hasErrors() {
            return Object.keys(this.errors).length > 0;
        },
    }
}
</script>

<style scoped>

</style>
