<template>
    <div class="container mx-auto z-10 absolute inset-x-0 bottom-0 overflow-hidden shadow-md flex justify-center sm:hidden ">
        <div v-if="checkErrors" :class="{'block': showingDropup, 'hidden': ! showingDropup}" class="sm:hidden relative bg-white bottom-1">

            <form class="container mx-auto p-5 z-10" :action="route('searching')" method="POST" @submit.prevent="submit">

                <div class="relative mb-1">
                    <jet-label for="pickup" class="w-full title-font font-semibold text-gray-900 tracking-widest text-xs">Pickup Location</jet-label>
                    <jet-input type="text" id="pickup1" v-model="form.pickup" name="pickup" placeholder="Enter pickup location" class="w-full border border-gray-300 focus:border-green-500 focus:ring-2 focus:ring-green-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"/>
                    <span v-if="hasErrors" class="error text-red-600 text-xs">{{ errors.pickup }}</span>
                </div>
                <div class="relative mb-1">
                    <jet-label for="dropoff" class="w-full title-font font-semibold text-gray-900 tracking-widest text-xs">Drop-off Location</jet-label>
                    <jet-input type="text" id="dropoff1" v-model="form.dropoff" name="dropoff" placeholder="Enter dropoff location" class="w-full border border-gray-300 focus:border-green-500 focus:ring-2 focus:ring-green-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"/>
                    <span v-if="hasErrors" class="error text-red-600 text-xs">{{ errors.dropoff}}</span>
                </div>
                <div class="relative mb-1">
                    <jet-label for="load_type" class="title-font font-semibold text-gray-900 tracking-widest text-xs">Select the Load Type</jet-label>
                    <select name="load_type" v-model="form.load_type" class="w-full border border-gray-300 focus:border-green-500 focus:ring-2 focus:ring-green-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                        <option value="grains">Grains</option>
                        <option value="grains">Tubers</option>
                        <option value="grains">Fruits and Vegetables</option>
                    </select>
                    <span v-if="hasErrors" class="error text-red-600 text-xs">{{ errors.load_type }}</span>
                </div>
                <div class="relative mb-2">
                    <jet-label for="quantity" class="w-full title-font font-semibold text-gray-900 tracking-widest text-xs">Quantity</jet-label>
                    <jet-input type="number" id="quantity" v-model="form.quantity" name="quantity" class="w-full border border-gray-300 focus:border-green-500 focus:ring-2 focus:ring-green-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"/>
                    <span v-if="hasErrors" class="error text-red-600 text-xs">{{ errors.quantity }}</span>
                </div>

                <jet-button @click="showingDropup= ! showingDropup"
                    class="text-white  bg-green-500 border-0 py-2 px-6 focus:bg-gray-400 hover:bg-green-600 text-xs" type="submit" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                    Book Order
                </jet-button>
            </form>
        </div>

        <div class="pb-3">
            <div v-if="hasErrors" @click="showingDropup = ! showingDropup"
                 :class="{'block': ! showingDropup, 'hidden': showingDropup}"
                 class="text-xs bg-white">
                <jet-validation-errors/>
            </div>
            <button @click="showingDropup = ! showingDropup"
                    :class="{'block': ! showingDropup, 'hidden': showingDropup}"
                    class="inset-x-0 bottom-0 min-w-full inline-flex items-center px-4 py-2 bg-green-500 border border-transparent font-semibold text-xs text-white uppercase text-center tracking-widest hover:bg-green-700 active:bg-green-900 focus:outline-none focus:border-green-900 focus:ring focus:ring-green-300 disabled:opacity-25 transition">
                Request for Truck
            </button>
        </div>

    </div>


</template>

<script>
import JetValidationErrors from "@/Jetstream/ValidationErrors";
import JetLabel from "@/Jetstream/Label";
import JetInput from "@/Jetstream/Input";
import JetButton from "@/Jetstream/Button";
import JetDropup from "@/Jetstream/Dropup";
import Button from "@/Components/Button";

export default {
    name: "ResponsiveRequestForm",
    components: {
        Button,
        JetValidationErrors,
        JetLabel,
        JetInput,
        JetButton,
        JetDropup,
    },
    data() {
        return {
            form: this.$inertia.form({
                pickup: this.pickup,
                dropoff: this.dropoff,
                load_type: this.load_type,
                quantity: this.quantity,
            }),
            showingDropup: false,
            showButton: false,
        }
    },
    methods: {
        submit(){
            this.form.post(this.route('searching'),{
                // onFinish: () => this.form.reset(),
            })
        },
        checkErrors(){
            if (this.hasErrors){
                return this.showingDropup =true;
            }
        }

    },
    computed: {
        errors() {
            return this.$page.props.errors
        },

        hasErrors() {
            return Object.keys(this.errors).length > 0;
        },
    }
}
</script>

<style scoped>

</style>
