<template>
<app-layout>

    <section class="text-gray-600 body-font relative">
        <div class="mx-0 p-0 m-0 flex flex-grow sm:flex-nowrap flex-wrap">
            <div class="hidden space-x-8 sm:flex sm:w-1/3 bg-gray-50 p-8 flex flex-col md:ml-auto w-full h-full z-10 md:py-5 lg:mb-24 mt-8 md:mt-0">

                <div>
                    <h2 class="text-gray-900 text-lg mb-1 font-medium title-font">Request for Truck</h2>

                    <form class="flex flex-col flex-grow-0" :action="route('searching')" method="POST" @submit.prevent="submit">
                        <p class="leading-relaxed mb-5 text-gray-600">
                            <!--                                    <jet-validation-errors/>-->
                            <!--                                    <success/>-->
                        </p>
                        <div class="relative mb-4">
                            <jet-label for="pickup" class="leading-7 text-sm text-gray-600">Pickup Location</jet-label>
                            <jet-input type="text" id="pickup" required name="pickup" v-model="form.pickup" placeholder="Enter pickup location" class="w-full border border-gray-300 focus:border-green-500 focus:ring-2 focus:ring-green-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"/>
                            <span v-if="hasErrors" class="error text-red-600 text-xs">{{ form.errors.pickup }}</span>
                        </div>
                        <div class="relative mb-4">
                            <jet-label for="dropoff" class="leading-7 text-sm text-gray-600">Drop-off Location</jet-label>
                            <jet-input type="text" id="dropoff" required v-model="form.dropoff" name="dropoff" placeholder="Enter dropoff location" class="w-full border border-gray-300 focus:border-green-500 focus:ring-2 focus:ring-green-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"/>
                            <span v-if="hasErrors" class="error text-red-600 text-xs">{{ form.errors.dropoff }}</span>
                        </div>
                        <div class="relative mb-4">
                            <jet-label for="load_type">Select the Load Type</jet-label>
                            <select name="load_type" required v-model="form.load_type" class="w-full border border-gray-300 focus:border-green-500 focus:ring-2 focus:ring-green-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                                <option value="grains">Grains</option>
                                <option value="tubers">Tubers</option>
                                <option value="fruits">Fruits and Vegetables</option>
                            </select>
                            <span v-if="hasErrors" class="error text-red-600 text-xs">{{ form.errors.load_type }}</span>
                        </div>
                        <div class="relative mb-4">
                            <jet-label for="quantity" class="leading-7 text-sm text-gray-600">Quantity</jet-label>
                            <jet-input type="number" :min="0" required id="_quantity" v-model="form.quantity" name="quantity" class="w-full border border-gray-300 focus:border-green-500 focus:ring-2 focus:ring-green-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"/>
                            <span v-if="hasErrors" class="error text-red-600 text-xs">{{ form.errors.quantity }}</span>
                        </div>

                        <jet-button class="text-white justify-center bg-green-500 border-0 py-2 px-6 focus:bg-gray-400 hover:bg-green-600 text-lg" type="submit" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                            Book Order
                        </jet-button>
                    </form>
                </div>
            </div>
            <div class="h-screen w-full sm:w-2/3 overflow-hidden sm:mr-1 p-1 items-end justify-start relative">
                <div class="absolute inset-0 bg-gray-300">
<!--                <f-v-g-maps/>-->
                    <vue-google-maps
                        @google-map-updated="onGoogleMapUpdated"
                        style="width: 100%; height: 100vh;"
                        :map-config="mapConfig"
                        :api-key="apiKey"
                        :libraries="mapLibraries"
                        class="border border-gray-50"
                    ></vue-google-maps>
                </div>
                <div  class="focus flex flex-col flex-grow-0 w-full mx-auto z-10 absolute inset-x-0 bottom-0 overflow-hidden shadow-md justify-center sm:hidden">
                    <div v-if="checkErrors" :class="{'block': showingDropup, 'hidden': ! showingDropup}" class="sm:hidden relative bg-white bottom-1">

                        <button @click="showingDropup = ! showingDropup"
                                :class="{'block':  showingDropup, 'hidden': ! showingDropup}"
                                class="inset-x-0 bottom-0 min-w-full inline-flex items-center justify-center px-4 py-2 bg-yellow-500 border border-transparent font-semibold text-xs text-white uppercase text-center tracking-widest hover:bg-yellow-700 active:bg-yellow-900 focus:outline-none focus:border-yellow-900 focus:ring focus:ring-yellow-300 disabled:opacity-25 transition">
                            Minimize
                        </button>
                        <form class="container mx-auto flex flex-col w-full p-5 z-10" :action="route('searching')" method="POST" @submit.prevent="submit">

                            <div class="relative mb-1">
                                <jet-label for="pickup" class="w-full title-font font-semibold text-gray-900 tracking-widest text-xs">Pickup Location</jet-label>
                                <jet-input type="text" required id="pickup1" v-model="form.pickup" name="pickup" placeholder="Enter pickup location" class="w-full border border-gray-300 focus:border-green-500 focus:ring-2 focus:ring-green-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"/>
                                <span v-if="form.hasErrors" class="error text-red-600 text-xs">{{ form.errors.pickup }}</span>
                            </div>
                            <div class="relative mb-1">
                                <jet-label for="dropoff" class="w-full title-font font-semibold text-gray-900 tracking-widest text-xs">Drop-off Location</jet-label>
                                <jet-input type="text" required id="dropoff1" v-model="form.dropoff" name="dropoff" placeholder="Enter dropoff location" class="w-full border border-gray-300 focus:border-green-500 focus:ring-2 focus:ring-green-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"/>
                                <span v-if="form.hasErrors" class="error text-red-600 text-xs">{{ form.errors.dropoff}}</span>
                            </div>
                            <div class="relative mb-1">
                                <jet-label for="load_type" class="title-font font-semibold text-gray-900 tracking-widest text-xs">Select the Load Type</jet-label>
                                <select name="load_type" required v-model="form.load_type" class="w-full border border-gray-300 focus:border-green-500 focus:ring-2 focus:ring-green-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                                    <option value="grains">Grains</option>
                                    <option value="tubers">Tubers</option>
                                    <option value="fruits">Fruits and Vegetables</option>
                                </select>
                                <span v-if="form.hasErrors" class="error text-red-600 text-xs">{{ form.errors.load_type }}</span>
                            </div>
                            <div class="relative mb-2">
                                <jet-label for="quantity" class="w-full title-font font-semibold text-gray-900 tracking-widest text-xs">Quantity</jet-label>
                                <jet-input type="number" required :min="0" id="quantity" v-model="form.quantity" name="quantity" class="w-full border border-gray-300 focus:border-green-500 focus:ring-2 focus:ring-green-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"/>
                                <span v-if="form.hasErrors" class="error text-red-600 text-xs">{{ form.errors.quantity }}</span>
                            </div>

                            <jet-button @click="showingDropup = ! showingDropup"
                                        class="text-white justify-center bg-green-500 border-0 py-2 px-6 focus:bg-gray-400 hover:bg-green-600 text-xs" type="submit" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                                Book Order
                            </jet-button>
                        </form>
                    </div>

                    <div class="pb-3">
                        <div v-if="hasErrors" @click="showingDropup = ! showingDropup"
                             :class="{'block': ! showingDropup, 'hidden': showingDropup}"
                             class="text-xs bg-white">
                            <jet-validation-errors/>
                        </div>
                        <button @click="showingDropup = ! showingDropup"
                                :class="{'block': ! showingDropup, 'hidden': showingDropup}"
                                class="inset-x-0 bottom-0 min-w-full inline-flex items-center justify-center px-4 py-2 bg-green-500 border border-transparent font-semibold text-xs text-white uppercase text-center tracking-widest hover:bg-green-700 active:bg-green-900 focus:outline-none focus:border-green-900 focus:ring focus:ring-green-300 disabled:opacity-25 transition">
                            Request for Truck
                        </button>
                    </div>

                </div>

            </div>
        </div>
    </section>

</app-layout>
</template>

<script>

import AppLayout from "@/Layouts/AppLayout";
import JetValidationErrors from "@/Jetstream/ValidationErrors";
import JetLabel from "@/Jetstream/Label";
import JetInput from "@/Jetstream/Input";
import JetButton from "@/Jetstream/Button";
import VueGoogleMaps from "@point-hub/vue-google-maps";
import { onMounted, ref, defineAsyncComponent} from "vue";
import {useForm} from "@inertiajs/inertia-vue3";


export default {
    name: "Searching",
    components: {
        JetValidationErrors,
        JetLabel,
        JetInput,
        JetButton,
        AppLayout,
        VueGoogleMaps,
    },
    props: {
        status: String
    },

    setup(){
        let loaded = ref(false)
        let showingDropup = ref(false)
            // showButton: false,
            // accordion:true,
            const apiKey= 'AIzaSyC57LtGParA8Ek4FJWaTMoFJvmHuwHiuZc'//process.env.MIX_GOOGLE_MAPS_API

        let mapConfig;
        mapConfig = {
            zoom: 8,
                center: { lat: 7.9527706, lng: -1.0307118 },

            zoomControl: true,
                mapTypeControl: false,
                scaleControl: false,
                streetViewControl: false,
                rotateControl: false,
                fullscreenControl: false,
                disableDefaultUi: true,
                styles: [
                {
                    featureType: "poi.business",
                    stylers: [
                        {
                            visibility: "on"
                        }
                    ]
                },
                {
                    featureType: "poi.park",
                    elementType: "labels.text",
                    stylers: [
                        {
                            visibility: "on"
                        }
                    ]
                }
            ]
        }

        const mapLibraries= ["places"]
        let map= ref(null)
        let google= ref(null)
        let geocoder= ref(null)
        let pickupAutocomplete= ref(null)
        let dropoffAutocomplete= ref(null)
        let infoWindow= ref(null)
        let marker= ref(null)
        let directionsService = ref(null)
        let directionsRenderer = ref(null)
        const truck = {
            path: "M10.453 14.016l6.563-6.609-1.406-1.406-5.156 5.203-2.063-2.109-1.406 1.406zM12 2.016q2.906 0 4.945 2.039t2.039 4.945q0 1.453-0.727 3.328t-1.758 3.516-2.039 3.070-1.711 2.273l-0.75 0.797q-0.281-0.328-0.75-0.867t-1.688-2.156-2.133-3.141-1.664-3.445-0.75-3.375q0-2.906 2.039-4.945t4.945-2.039z",
            fillColor: "blue",
            fillOpacity: 0.6,
            strokeWeight: 0,
            rotation: 0,
            scale: 2,
            // anchor: new google.maps.Point(15, 30),
        }
        const tricycle = {
            path: "M10.453 14.016l6.563-6.609-1.406-1.406-5.156 5.203-2.063-2.109-1.406 1.406zM12 2.016q2.906 0 4.945 2.039t2.039 4.945q0 1.453-0.727 3.328t-1.758 3.516-2.039 3.070-1.711 2.273l-0.75 0.797q-0.281-0.328-0.75-0.867t-1.688-2.156-2.133-3.141-1.664-3.445-0.75-3.375q0-2.906 2.039-4.945t4.945-2.039z",
            fillColor: "blue",
            fillOpacity: 0.6,
            strokeWeight: 0,
            rotation: 0,
            scale: 2,
            // anchor: new google.maps.Point(15, 30),
        }
        const motorbike = {
            path: "M10.453 14.016l6.563-6.609-1.406-1.406-5.156 5.203-2.063-2.109-1.406 1.406zM12 2.016q2.906 0 4.945 2.039t2.039 4.945q0 1.453-0.727 3.328t-1.758 3.516-2.039 3.070-1.711 2.273l-0.75 0.797q-0.281-0.328-0.75-0.867t-1.688-2.156-2.133-3.141-1.664-3.445-0.75-3.375q0-2.906 2.039-4.945t4.945-2.039z",
            fillColor: "blue",
            fillOpacity: 0.6,
            strokeWeight: 0,
            rotation: 0,
            scale: 2,
            // anchor: new google.maps.Point(15, 30),
        }
        const form = useForm({
            pickup: ref(null),
            // pickup1: ref(null),
            dropoff: ref(null),
            // dropoff1: ref(null),
            load_type: ref(null),
            quantity: ref(null),
            lat: ref(null),
            lng: ref(null),
            latD: ref(null),
            lngD: ref(null),
        })


        function checkErrors(){
            if (hasErrors){
                return showingDropup = true;
            }
            return showingDropup = false
        }

        function submit(){
            form.post(route('searching'),{
                preserveScroll: true,
                // onFinish: () => this.form.reset(),
            })
        }
        function getGeocode() {
            geocoder.geocode(
                { location: marker.position },
                (results, status) => {
                    if (status === "OK") {
                        if (results[0]) {
                            form.pickup = results[0].formatted_address;
                            // form.pickup1 = results[0].formatted_address;
                        } else {
                            window.alert("No results found");
                        }
                    } else {
                        window.alert("Geocoder failed due to: " + status);
                    }
                }
            );
        }

        function onGoogleMapUpdated(googleMap) {
            map = googleMap.map;
            google = googleMap.google;

            // eslint-disable-next-line no-undef
            infoWindow = new google.maps.InfoWindow();
            infoWindow.open(map);

            // eslint-disable-next-line no-undef
            geocoder = new google.maps.Geocoder();

            let input;
            let dropoff;
            if (window.innerWidth <= 641){
                input = document.getElementById("pickup1");
                dropoff = document.getElementById("dropoff1");
            }
            else{
                input = document.getElementById("pickup");
                dropoff = document.getElementById("dropoff");
            }

            const vm = this;
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(
                    position => {
                        let myPosition;
                        myPosition = {
                            lat: position.coords.latitude,
                            lng: position.coords.longitude
                        };
                        form.lat = position.coords.latitude;
                        form.lng = position.coords.longitude;

                        const { Marker } = google.maps;
                        marker = new Marker({
                            position: myPosition,
                            map: map,
                            draggable: true,
                            animation: google.maps.Animation.DROP,
                            title: "Current Position"
                        });
                        getGeocode();
                        // eslint-disable-next-line no-undef
                        google.maps.event.addListener(marker, "dragend", function(
                            evt
                        ) {
                            form.lat = evt.latLng.lat();
                            form.lng = evt.latLng.lng();
                            getGeocode();
                        });

                        map.panTo(marker.position);
                    },
                    () => {
                        handleLocationError(false);
                    },
                    {
                        enableHighAccuracy: true
                    }
                );
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false);
            }
            // eslint-disable-next-line no-undef
            pickupAutocomplete = new google.maps.places.Autocomplete(input);
            dropoffAutocomplete = new google.maps.places.Autocomplete(dropoff);


            // Bind the map's bounds (viewport) property to the autocomplete object,
            // so that the autocomplete requests use the current map bounds for the
            // bounds option in the request.
            // pickupAutocomplete.bindTo("bounds", map);
            // dropoffAutocomplete.bindTo("bounds", map);

            // pickupAutocomplete.addListener("place_changed", () => {
            //     const place = pickupAutocomplete.getPlace();
            //     if (!place.geometry) {
            //         // User entered the name of a Place that was not suggested and
            //         // pressed the Enter key, or the Place Details request failed.
            //         window.alert("No details available for input: '" + place.name + "'");
            //         return;
            //     }
            //
            //     // If the place has a geometry, then present it on a map.
            //     if (place.geometry.viewport) {
            //         map.fitBounds(place.geometry.viewport);
            //     } else {
            //         map.setCenter(place.geometry.location);
            //         map.setZoom(17);
            //     }
            //     marker.setPosition(place.geometry.location);
            //     marker.setVisible(true);
            //
            //     if (place.formatted_address) {
            //         form.pickup = place.long_name;
            //         // form.pickup1 = place.formatted_address;
            //         form.lat = place.geometry.location.lat();
            //         form.lng = place.geometry.location.lng();
            //     }
            // });
            //
            // dropoffAutocomplete.addListener("place_changed", () => {
            //     const placeD = dropoffAutocomplete.getPlace();
            //     if (!placeD.geometry) {
            //         // User entered the name of a Place that was not suggested and
            //         // pressed the Enter key, or the Place Details request failed.
            //         window.alert("No details available for input: '" + placeD.name + "'");
            //         return;
            //     }
            //
            //     // If the place has a geometry, then present it on a map.
            //     if (placeD.geometry.viewport) {
            //         map.fitBounds(placeD.geometry.viewport);
            //     } else {
            //         map.setCenter(placeD.geometry.location);
            //         map.setZoom(17);
            //     }
            //     marker.setPosition(placeD.geometry.location);
            //     marker.setVisible(true);
            //
            //     if (placeD.formatted_address) {
            //         form.dropoff = placeD.long_name;
            //         // form.dropoff1 = placeD.formatted_address;
            //         form.latD = placeD.geometry.location.lat();
            //         form.lngD = placeD.geometry.location.lng();
            //     }
            // });


            directionsService = new google.maps.DirectionsService();
            directionsRenderer = new google.maps.DirectionsRenderer();
            directionsRenderer.setMap(map);


            setupPlaceChangedListener(pickupAutocomplete, "PICKUP");
            setupPlaceChangedListener(dropoffAutocomplete, "DROPOFF");

            // const onChangeHandler = function () {
            //     // calculateAndDisplayRoute(directionsService, directionsRenderer);
            //
            // };
            // if (form.lat && form.latD){
            //     (input).addEventListener("change", onChangeHandler);
            //     (dropoff).addEventListener("change", onChangeHandler);
            // }
        }


        function calculateAndDisplayRoute(directionsService, directionsRenderer) {
            if (!form.lat || !form.latD) {
                return;
            }
            let pickupLocation = new google.maps.LatLng(form.lat,form.lng);
            let dropoffLocation = new google.maps.LatLng(form.latD,form.lngD);
            directionsService.route(
                {
                    // origin: form.pickup,
                    // destination: form.dropoff,
                    origin: pickupLocation,
                    destination: dropoffLocation,
                    travelMode: google.maps.TravelMode.DRIVING,
                },
                (response, status) => {
                    if (status === "OK") {
                        directionsRenderer.setDirections(response);
                    } else {
                        window.alert("Directions request failed due to " + status);
                    }
                }
            );
        }

        function setupPlaceChangedListener(autocomplete, mode) {
            autocomplete.bindTo("bounds", map);
            autocomplete.addListener("place_changed", () => {
                const place = autocomplete.getPlace();

                if (!place.geometry) {
                    window.alert("No details available for input: '" + place.name + "' Please select an option from the dropdown list.");
                    return;
                }
                // If the place has a geometry, then present it on a map.
                if (place.geometry.viewport) {
                    map.fitBounds(place.geometry.viewport);
                } else {
                    map.setCenter(place.geometry.location);
                    map.setZoom(17);
                }
                marker.setPosition(place.geometry.location);
                // marker.setVisible(true);


                if (mode === "PICKUP") {
                    form.pickup = place.formatted_address;
                    // form.pickup1 = place.formatted_address;
                    form.lat = place.geometry.location.lat();
                    form.lng = place.geometry.location.lng();
                }
                if (mode === "DROPOFF") {
                    form.dropoff = place.formatted_address;
                    // form.dropoff1 = placeD.formatted_address;
                    form.latD = place.geometry.location.lat();
                    form.lngD = place.geometry.location.lng();
                }
                calculateAndDisplayRoute(directionsService,directionsRenderer);
            });
        }

        function handleLocationError(browserHasGeolocation) {
            infoWindow.setPosition(map.getCenter());
            infoWindow.setContent(
                browserHasGeolocation
                    ? "Error: The Geolocation service failed."
                    : "Error: Your browser doesn't support geolocation."
            );
            infoWindow.open(map);
        }

        function domWidth() {
            return window.innerWidth <= 641;
        }
        function errors() {
            return $page.props.errors
        }

        function hasErrors() {
            return Object.keys(errors).length > 0;
        }

        onMounted(()=> loaded=true)


        return {
            apiKey,
            mapConfig,
            mapLibraries,
            loaded,
            showingDropup,
            form,
            submit,
            errors,
            hasErrors,
            checkErrors,
            domWidth,
            getGeocode,
            handleLocationError,
            setupPlaceChangedListener,
            calculateAndDisplayRoute,
            onGoogleMapUpdated,
        }
    },


    // data() {
    //     return {
    //         showingDropup: false,
    //         // showButton: false,
    //         // accordion:true,
    //         apiKey: 'AIzaSyC57LtGParA8Ek4FJWaTMoFJvmHuwHiuZc',//process.env.MIX_GOOGLE_MAPS_API,
    //         mapConfig: {
    //             zoom: 16,
    //             center: { lat: 7.9527706, lng: -1.0307118 },
    //
    //             zoomControl: true,
    //             mapTypeControl: false,
    //             scaleControl: false,
    //             streetViewControl: true,
    //             rotateControl: false,
    //             fullscreenControl: false,
    //             disableDefaultUi: true,
    //             styles: [
    //                 {
    //                     featureType: "poi.business",
    //                     stylers: [
    //                         {
    //                             visibility: "on"
    //                         }
    //                     ]
    //                 },
    //                 {
    //                     featureType: "poi.park",
    //                     elementType: "labels.text",
    //                     stylers: [
    //                         {
    //                             visibility: "on"
    //                         }
    //                     ]
    //                 }
    //             ]
    //         },
    //         mapLibraries: ["places"],
    //         map: null,
    //         google: null,
    //         geocoder: null,
    //         autocomplete: null,
    //         autocompleteD: null,
    //         infoWindow: null,
    //         marker: null,
    //         form: this.$inertia.form({
    //             pickup: null,
    //             // pickup1: null,
    //             dropoff: null,
    //             // dropoff1: null,
    //             load_type: this.load_type,
    //             quantity: this.quantity,
    //             lat: null,
    //             lng: null,
    //             latD: null,
    //             lngD: null,
    //         }),
    //     };
    //
    // },

    // methods: {
    //     checkErrors(){
    //         if (this.hasErrors){
    //             return this.showingDropup === true;
    //         }
    //     },
    //     submit(){
    //         this.form.post(this.route('searching'),{
    //             // onFinish: () => this.form.reset(),
    //         })
    //     },
    //     getGeocode() {
    //         this.geocoder.geocode(
    //             { location: this.marker.position },
    //             (results, status) => {
    //                 if (status === "OK") {
    //                     if (results[0]) {
    //                         this.form.pickup = results[0].formatted_address;
    //                         // this.form.pickup1 = results[0].formatted_address;
    //                     } else {
    //                         window.alert("No results found");
    //                     }
    //                 } else {
    //                     window.alert("Geocoder failed due to: " + status);
    //                 }
    //             }
    //         );
    //     },
    //
    //     onGoogleMapUpdated(googleMap) {
    //         this.map = googleMap.map;
    //         this.google = googleMap.google;
    //
    //         // eslint-disable-next-line no-undef
    //         this.infoWindow = new google.maps.InfoWindow();
    //         this.infoWindow.open(this.map);
    //
    //         // eslint-disable-next-line no-undef
    //         this.geocoder = new google.maps.Geocoder();
    //
    //             // const input1 = document.getElementById("pickup1");
    //             // const dropoff1 = document.getElementById("dropoff1");
    //             // const input = document.getElementById("pickup");
    //             // const dropoff = document.getElementById("dropoff");
    //
    //         let input=null;
    //         let dropoff=null;
    //         if (window.innerWidth <= 641){
    //             input = document.getElementById("pickup1");
    //             dropoff = document.getElementById("dropoff1");
    //         }
    //         else{
    //             input = document.getElementById("pickup");
    //             dropoff = document.getElementById("dropoff");
    //         }
    //
    //         // eslint-disable-next-line no-undef
    //         this.autocomplete = new google.maps.places.Autocomplete(input);
    //         this.autocompleteD = new google.maps.places.Autocomplete(dropoff);
    //         // this.autocomplete = new google.maps.places.Autocomplete(input1);
    //         // this.autocompleteD = new google.maps.places.Autocomplete(dropoff1);
    //
    //         // Bind the map's bounds (viewport) property to the autocomplete object,
    //         // so that the autocomplete requests use the current map bounds for the
    //         // bounds option in the request.
    //         this.autocomplete.bindTo("bounds", this.map);
    //         this.autocompleteD.bindTo("bounds", this.map);
    //
    //         this.autocomplete.addListener("place_changed", () => {
    //             const place = this.autocomplete.getPlace();
    //             if (!place.geometry) {
    //                 // User entered the name of a Place that was not suggested and
    //                 // pressed the Enter key, or the Place Details request failed.
    //                 window.alert("No details available for input: '" + place.name + "'");
    //                 return;
    //             }
    //
    //             // If the place has a geometry, then present it on a map.
    //             if (place.geometry.viewport) {
    //                 this.map.fitBounds(place.geometry.viewport);
    //             } else {
    //                 this.map.setCenter(place.geometry.location);
    //                 this.map.setZoom(17);
    //             }
    //             this.marker.setPosition(place.geometry.location);
    //             this.marker.setVisible(true);
    //
    //             if (place.formatted_address) {
    //                 this.form.pickup = place.formatted_address;
    //                 // this.form.pickup1 = place.formatted_address;
    //                 this.form.lat = place.geometry.location.lat();
    //                 this.form.lng = place.geometry.location.lng();
    //             }
    //         });
    //
    //         this.autocompleteD.addListener("place_changed", () => {
    //             const placeD = this.autocompleteD.getPlace();
    //             if (!placeD.geometry) {
    //                 // User entered the name of a Place that was not suggested and
    //                 // pressed the Enter key, or the Place Details request failed.
    //                 window.alert("No details available for input: '" + placeD.name + "'");
    //                 return;
    //             }
    //
    //             // If the place has a geometry, then present it on a map.
    //             if (placeD.geometry.viewport) {
    //                 this.map.fitBounds(placeD.geometry.viewport);
    //             } else {
    //                 this.map.setCenter(placeD.geometry.location);
    //                 this.map.setZoom(17);
    //             }
    //             this.marker.setPosition(placeD.geometry.location);
    //             this.marker.setVisible(true);
    //
    //             if (placeD.formatted_address) {
    //                 this.form.dropoff = placeD.formatted_address;
    //                 // this.form.dropoff1 = placeD.formatted_address;
    //                 this.form.latD = placeD.geometry.location.lat();
    //                 this.form.lngD = placeD.geometry.location.lng();
    //             }
    //         });
    //
    //         const vm = this;
    //         if (navigator.geolocation) {
    //             navigator.geolocation.getCurrentPosition(
    //                 position => {
    //                     this.myPosition = {
    //                         lat: position.coords.latitude,
    //                         lng: position.coords.longitude
    //                     };
    //                     this.form.lat = position.coords.latitude;
    //                     this.form.lng = position.coords.longitude;
    //
    //                     const { Marker } = this.google.maps;
    //                     this.marker = new Marker({
    //                         position: this.myPosition,
    //                         map: this.map,
    //                         draggable: true,
    //                         animation: this.google.maps.Animation.DROP,
    //                         title: "Current Position"
    //                     });
    //                     this.getGeocode();
    //                     // eslint-disable-next-line no-undef
    //                     google.maps.event.addListener(this.marker, "dragend", function(
    //                         evt
    //                     ) {
    //                         vm.form.lat = evt.latLng.lat();
    //                         vm.form.lng = evt.latLng.lng();
    //                         vm.getGeocode();
    //                     });
    //
    //                     this.map.panTo(this.marker.position);
    //                 },
    //                 () => {
    //                     this.handleLocationError(false);
    //                 },
    //                 {
    //                     enableHighAccuracy: true
    //                 }
    //             );
    //         } else {
    //             // Browser doesn't support Geolocation
    //             this.handleLocationError(false);
    //         }
    //     },
    //
    //     handleLocationError(browserHasGeolocation) {
    //         this.infoWindow.setPosition(this.map.getCenter());
    //         this.infoWindow.setContent(
    //             browserHasGeolocation
    //                 ? "Error: The Geolocation service failed."
    //                 : "Error: Your browser doesn't support geolocation."
    //         );
    //         this.infoWindow.open(this.map);
    //     },
    //
    //     domWidth() {
    //         return window.innerWidth <= 641;
    //     }
    //
    // },
    // computed: {
    //     // order: {
    //     //     get() {
    //     //         return this.$store.state.order;
    //     //     },
    //     //     set(value) {
    //     //         this.$store.commit('updateOrder', value)
    //     //     },
    //     // },
    //     errors() {
    //         return this.$page.props.errors
    //     },
    //
    //     hasErrors() {
    //         return Object.keys(this.errors).length > 0;
    //     },
    // },


    // mounted() {
        // Echo.private(`searching.${this.$page.props.user.id}`)
        //     .listen('OrderVehicleStatus', (e) => {
        //
        //         console.log(e.searching);
        //     });

    // }
}
</script>

<style scoped>

</style>
