<template>
    <section class="text-gray-600 body-font">
        <div class="container px-3 py-3 mx-auto flex flex-wrap flex-col">
            <div class="flex mx-auto flex-wrap mb-2">
                <step-link :href="route('carriers.register.vehicle')" :active="route().current('carriers.register.vehicle')" :disabled="$page.props.VR.vehicle">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5 mr-3" viewBox="0 0 24 24">
                        <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
                    </svg>STEP 1
                </step-link>
                <step-link :href="route('carriers.register.lanes')" :active="route().current('carriers.register.lanes')" :disabled="$page.props.VR.lanes">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5 mr-3" viewBox="0 0 24 24">
                        <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
                    </svg>STEP 2
                </step-link>
                <step-link :href="route('carriers.register.proof')" :active="route().current('carriers.register.proof')" :disabled="$page.props.VR.proof_of_documents">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5 mr-3" viewBox="0 0 24 24">
                        <circle cx="12" cy="5" r="3"></circle>
                        <path d="M12 22V8M5 12H2a10 10 0 0020 0h-3"></path>
                    </svg>STEP 3
                </step-link>
                <step-link :href="route('carriers.register.completed')" :active="route().current('carriers.register.completed')" :disabled="$page.props.VR.completed">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5 mr-3" viewBox="0 0 24 24">
                        <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
                        <circle cx="12" cy="7" r="4"></circle>
                    </svg>STEP 4
                </step-link>
            </div>
            <div class="flex flex-col text-center w-full">
                <h1 class="text-xl font-medium title-font mb-4 text-gray-900"><slot name="title"></slot></h1>
                <p class="lg:w-2/3 mx-auto leading-relaxed text-base"><slot name="description"></slot></p>
            </div>
        </div>
    </section>
</template>

<script>
import StepLink from "@/Components/StepLink";
export default {
    name: "Step",
    props: {
        VR: Object
    },
    components: {
        StepLink,
    }
}
</script>

<style scoped>

</style>
