<template>
    <app-layout>
        <step>
            <template #title>
                Screening
            </template>
            <template #description>
                Please visit any of our branches for screening
            </template>
        </step>
        <jet-validation-errors class="mb-4" />
        <form @submit.prevent="submit" class="lg:w-2/3 mx-auto px-5 leading-relaxed text-base">

            <jet-button type="submit" class="my-5 bg-green-500 border-0 py-2 px-6 focus:bg-gray-400 hover:bg-green-600 text-lg" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                Save and Continue
            </jet-button>
        </form>
    </app-layout>
</template>

<script>
import AppLayout from "@/Layouts/AppLayout";
import JetValidationErrors from "@/Jetstream/ValidationErrors";
import Step from "@/Components/Step";
import JetButton from "@/Jetstream/Button";
export default {
    name: "Completed",
    components: {
        AppLayout,
        JetValidationErrors,
        Step,
        JetButton,
    },
    data() {
        return {
            form: this.$inertia.form('completed',{

            })
        }
    },

    methods: {
        submit() {
            this.form.post(this.route('carriers.register.completed'), {
                // onFinish: () => this.form.reset(''),
                preserveState:true
            })
        }
    }
}
</script>

<style scoped>

</style>
