<template>
    <app-layout>
        <step>
            <template #title>
                Operating Lanes
            </template>
            <template #description>

            </template>
        </step>
        <jet-validation-errors class="mb-4" />
        <form @submit.prevent="submit" class="lg:w-2/3 mx-auto px-5 leading-relaxed text-base">
            <div class="w-full pb-4">
                <label for="lane">Select your operating lane:
                    <i class="flex block">Enter the lane you'd like to operate, some drivers prefer to return back home every evening, whiles others prefer to stay on the road</i>
                </label>
                <select v-model="form.lane" name="lane" id="lane" class="block mt-4 w-full border-gray-300 focus:border-green-500 focus:ring-2 focus:ring-green-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" required autofocus autocomplete="lane" aria-describedby="SelectOperatingLane">
                    <option value="regional">Regional </option>
                    <option value="nationwide">Nationwide (over the road)</option>

                </select>
            </div>

            <div class="w-full pb-4">
                <label for="city">Request Loads:
                    <i class="flex block">Enter the pickup location you'll like to receive loads from anytime when you're not on the road</i>
                </label>
                <jet-input v-model="form.city" @focus="searchQuery" id="city" class="block mt-4 w-full" type="text" name="city" required placeholder="Pickup Location (city)"/>
            </div>
            <div class="w-full pb-4">
                <label for="city">Select a pickup radius:
                    <i class="flex block">Select the maximum radius coverage you'd like to receive loads from with your pickup location as the center</i>
                </label>
                <select v-model="form.radius" name="radius" id="radius" class="block mt-4 w-full border-gray-300 focus:border-green-500 focus:ring-2 focus:ring-green-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" required autofocus autocomplete="radius" aria-describedby="SelectOperatingRadius">
                    <option value="20">20 km</option>
                    <option value="50">50 km </option>
                    <option value="100">100 km</option>
                </select>
            </div>

            <jet-button type="submit" class="my-5 bg-green-500 border-0 py-2 px-6 focus:bg-gray-400 hover:bg-green-600 text-lg" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                Save and Continue
            </jet-button>
        </form>
    </app-layout>
 </template>

<script>
import AppLayout from "@/Layouts/AppLayout";
import Step from "@/Components/Step";
import JetInput from "@/Components/Input";
import JetValidationErrors from "@/Jetstream/ValidationErrors";
import JetButton from "@/Jetstream/Button";
import { Loader } from "@googlemaps/js-api-loader"
import {ref} from "vue";
import {useForm} from "@inertiajs/inertia-vue3";

export default {
    name: "OperatingLanes",
    components: {
        Step,
        AppLayout,
        JetInput,
        JetValidationErrors,
        JetButton
    },
    setup() {
        let autoComplete = ref(null)
        let input = ref(null)
        const form = useForm('lanes',{
            lane: ref(null),
            radius: ref(null),
            city: ref(''),
            lat: ref(null),
            lng: ref(null),
        })
        const loader = new Loader({
            apiKey: "AIzaSyC57LtGParA8Ek4FJWaTMoFJvmHuwHiuZc",
            version: "weekly",
            libraries: ["places"],
        });


        function searchQuery(){
            input = document.getElementById("city");
            const options = {
                componentRestrictions: { country: "gh" },
                fields: ["address_components", "geometry", "name","formatted_address"],
            }

            loader.load().then(() => {
                autoComplete = new google.maps.places.Autocomplete(input, options);
                inputListener(autoComplete,input,options)
            });

        }

        function inputListener(autoComplete,input,options){
            autoComplete.addListener("place_changed", () => {
                const place = autoComplete.getPlace();

                if (!place.geometry) {
                    window.alert("No details available for input: '" + place.name + "' Please select an option from the dropdown list.");
                    return;
                }

                if (place.formatted_address) {
                    form.city = place.name + ", " + place.formatted_address
                    form.lat = place.geometry.location.lat();
                    form.lng = place.geometry.location.lng();
                }
            });
        }


        function submit() {
            form.post(route('carriers.register.lanes'), {
                preserveState:true,
            })
        }

    return {
            form,
            submit,
            inputListener,
            searchQuery,
    }

    },

    data() {
        return {

        }
    },

    methods: {

    }
}
</script>

<style scoped>

</style>
