<template>
    <app-layout>
        <step>
            <template #title>
                Proof of Documents
            </template>
            <template #description>
                Please provide proof of documents
                <jet-validation-errors class="mb-4" />
            </template>
        </step>
        <jet-validation-errors class="mb-4" />
        <form enctype="multipart/form-data" @submit.prevent="submit" class="lg:w-2/3 px-5 mx-auto leading-relaxed text-base">
<!--            <input type="text" v-model="form.name" />-->
            <div class="grid grid-cols-1 mt-5 mx-7">
                <label class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold mb-1">Passport size photo</label>
                <div class='flex items-center justify-center w-full'>
                    <label class='flex flex-col border-4 border-dashed w-full h-32 hover:bg-gray-100 hover:border-green-300 group'>
                        <jet-input type="file" accept="image/*" id="passport" @input="form.passport = $event.target.files[0]" class="hidden" v-on:change="onFileChange" required placeholder=""/>
                        <div class='flex flex-col items-center justify-center pt-7'>
                            <svg class="w-10 h-10 text-green-400 group-hover:text-green-600" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"></path></svg>
                            <p class='lowercase text-sm text-gray-400 group-hover:text-green-600 pt-1 tracking-wider'>Select a photo</p>
                            <p v-if="form.passport" class='lowercase text-sm text-gray-400 group-hover:text-green-600 pt-1 tracking-wider'>{{ 'Selected file '+ form.passport.name }}</p>
                        </div>
                    </label>
                </div>
                <progress style="color: #82ff17" v-if="form.progress" :value="form.progress.percentage" max="100">
                    {{ form.progress.percentage }}%
                </progress>

            </div>
<!--            <div class="mt-4 block w-full">-->
<!--                <label for="passport_photo">Picture of you and your driver's license</label>-->
<!--                <jet-input type="file" id="passport_photo" @input="form.passport_photo = $event.target.files[0]" class="block mt-4 w-full"  required placeholder=""/>-->
<!--                <progress style="color: #82ff17" v-if="form.progress" :value="form.progress.percentage" max="100" >-->
<!--                    {{ form.progress.percentage }}%-->
<!--                </progress>-->
<!--            </div>-->


            <div class="grid grid-cols-1 mt-5 mx-7">
                <label class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold mb-1">Driver's License</label>
                <div class='flex items-center justify-center w-full'>
                    <label class='flex flex-col border-4 border-dashed w-full h-32 hover:bg-gray-100 hover:border-green-300 group'>
                        <jet-input type="file" id="license" accept="image/*" @input="form.license = $event.target.files[0]" class="hidden" required placeholder=""/>
                        <div class='flex flex-col items-center justify-center pt-7'>
                            <svg class="w-10 h-10 text-green-400 group-hover:text-green-600" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"></path></svg>
                            <p class='lowercase text-sm text-gray-400 group-hover:text-green-600 pt-1 tracking-wider'>Select a photo</p>
                            <p v-if="form.license" class='lowercase text-sm text-gray-400 group-hover:text-green-600 pt-1 tracking-wider'>{{'Selected file '+form.license.name}}</p>
                        </div>
                    </label>
                </div>
                <progress style="color: #82ff17" v-if="form.progress" :value="form.progress.percentage" max="100">
                    {{ form.progress.percentage }}%
                </progress>
            </div>
            <div class="grid grid-cols-1 mt-5 mx-7">
                <label class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold mb-1">Road Worthiness </label>
                <div class='flex items-center justify-center w-full'>
                    <label class='flex flex-col border-4 border-dashed w-full h-32 hover:bg-gray-100 hover:border-green-300 group'>
                        <jet-input type="file" id="worthiness" @input="form.worthiness = $event.target.files[0]" class="hidden" v-on:change="onFileChange" required placeholder=""/>
                        <div class='flex flex-col items-center justify-center pt-7'>
                            <svg class="w-10 h-10 text-green-400 group-hover:text-green-600" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"></path></svg>
                            <p class='lowercase text-sm text-gray-400 group-hover:text-green-600 pt-1 tracking-wider'>Select a file</p>
                            <p v-if="form.worthiness" class='lowercase text-sm text-gray-400 group-hover:text-green-600 pt-1 tracking-wider'>{{ 'Selected file '+ form.worthiness.name }}</p>
                        </div>
                    </label>
                </div>
                <progress style="color: #82ff17" v-if="form.progress" :value="form.progress.percentage" max="100">
                    {{ form.progress.percentage }}%
                </progress>
            </div>

            <jet-button type="submit" class="mx-7 my-5 bg-green-500 border-0 py-2 px-6 focus:bg-gray-400 hover:bg-green-600 text-lg" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                Save and Continue
            </jet-button>
        </form>
    </app-layout>
</template>

<script>
import AppLayout from "@/Layouts/AppLayout";
import Step from "@/Components/Step";
import JetValidationErrors from "@/Jetstream/ValidationErrors";
import JetButton from "@/Jetstream/Button";
import JetInput from "@/Jetstream/Input";
import { useForm } from '@inertiajs/inertia-vue3';
import {ref} from "vue";

export default {
    name: "ProofOfDocuments",
    components: {
        AppLayout,
        Step,
        JetValidationErrors,
        JetButton,
        JetInput,
    },
    setup () {
        const form = useForm('pod',{
            passport: ref(null),
            // passport_photo: null,
            license: ref(null),
            worthiness: ref(null)
        })

        function submit() {
            form.post(route('carriers.register.proof'),{
                preserveState:true
            })
        }



        return { form, submit }
    },
}
</script>

<style scoped>

</style>
