<template>
    <breeze-validation-errors class="mb-4" />

    <form @submit.prevent="submit">
        <input-holder>
            <template #label>
                <breeze-label for="email" value="Email" />
            </template>
            <template #icon>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
                    <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
                </svg>
            </template>
            <template #input>
                <breeze-input id="email" type="email" class="mt-1 block w-full -ml-10 pl-10 pr-3 py-2 outline-none" v-model="form.email" autofocus required/>
            </template>
        </input-holder>

        <input-holder>
            <template #label>
                <breeze-label for="password" value="Password" />
            </template>
            <template #icon>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
                </svg>
            </template>
            <template #input>
                <breeze-input id="password" type="password" class="mt-1 block w-full w-full -ml-10 pl-10 pr-3 py-2 outline-none" v-model="form.password" required autocomplete="new-password" />
            </template>
        </input-holder>

        <input-holder>
            <template #label>
                <breeze-label for="password_confirmation" value="Confirm Password" />
            </template>
            <template #icon>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
                </svg>
            </template>
            <template #input>
                <breeze-input id="password_confirmation" type="password" class="mt-1 block w-full -ml-10 pl-10 pr-3 py-2 outline-none" v-model="form.password_confirmation" required autocomplete="new-password" />
            </template>
        </input-holder>

        <div class="flex items-center justify-end mt-4">
            <breeze-button :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                Reset Password
            </breeze-button>
        </div>
    </form>
</template>

<script>
    import BreezeButton from '@/Components/Button'
    import BreezeGuestLayout from "@/Layouts/Guest"
    import BreezeInput from '@/Components/Input'
    import BreezeLabel from '@/Components/Label'
    import BreezeValidationErrors from '@/Components/ValidationErrors'
    import InputHolder from "@/Components/InputHolder";

    export default {
        layout: BreezeGuestLayout,

        components: {
            InputHolder,
            BreezeButton,
            BreezeInput,
            BreezeLabel,
            BreezeValidationErrors,
        },

        props: {
            email: String,
            token: String,
        },

        data() {
            return {
                form: this.$inertia.form({
                    token: this.token,
                    email: this.email,
                    password: '',
                    password_confirmation: '',
                })
            }
        },

        methods: {
            submit() {
                this.form.post(this.route('carriers.password.update'), {
                    onFinish: () => this.form.reset('password', 'password_confirmation'),
                })
            }
        }
    }
</script>
