<template>
<app-layout>
    <step>
        <template #title>
            Vehicle Details
        </template>
        <template #description>
            Please input your personal details and Vehicle information
            <jet-validation-errors class="mb-4" />
        </template>
    </step>
    <form @submit.prevent="submit" class="lg:w-2/3 mx-auto px-5 leading-relaxed text-base">

<!--        <div class="max-w-xs mx-auto">-->
<!--            <breeze-select :data="$page.props.trucks" v-model="form.truck" v-on:valueSelect="updateTruck">-->
<!--            <template #SelectLabel>Truck</template>-->
<!--        </breeze-select>-->
<!--        </div>-->
        <div class="mt-4 block w-full">
            <label for="truck">Choose your truck type:</label>

            <select v-model="form.truck"  name="truck" id="truck" class="block mt-4 w-full border-gray-300 focus:border-green-300 focus:ring focus:ring-green-200 focus:ring-opacity-50 shadow-sm"  required autofocus autocomplete="truck" aria-describedby="SelectTruck" :placeholder="'Select Truck'">
                <option value="">Choose your truck type:</option>
                <option  v-for="truck in $page.props.trucks" :value="updateTruck(truck.id)" :key="truck.id">{{truck.title}}</option>
            </select>
        </div>
        <div class="mt-4 block w-full">
            <jet-input v-model="form.max_load" id="max_load" class="flex inline-flex mt-4 w-full" type="number" name="max_load"  required placeholder="Maximum Load in kg"/>
            <label for="unit">Unit</label>
            <select v-model="form.unit" name="unit" id="unit">
                <option value="kg">kg</option>
                <option value="lb">lb</option>
            </select>
        </div>
        <div class="mt-4 block w-full">
            <jet-input v-model="form.license_plate" id="license_plate" class="block mt-4 w-full" type="text" name="license_plate"  required placeholder="License Plate eg. GR-1234-21"/>
        </div>

        <h2>Driver's License Details</h2>
        <div class="mt-4 block w-full">
            <jet-input v-model="form.license_number" id="license_number" class="block mt-4 w-full" type="text" name="license_number"  required placeholder="License Number"/>
        </div>
        <div class="mt-4 block w-full">
            <jet-input v-model="form.reference_number" id="reference_number" class="block mt-4 w-full" type="text" name="reference_number"  required placeholder="License Reference Number"/>
        </div>
        <div class="mt-4 block w-full">
            <label for="expiry_date">Expiry Date

            </label>
            <jet-input v-model="form.expiry_date" id="expiry_date" class="block mt-4 w-full" type="date" name="expiry_date"  required placeholder="Expiry Date"/>
        </div>

        <button type="submit" class="my-5 bg-green-500 border-0 py-2 px-6 focus:bg-gray-400 hover:bg-green-600 text-lg" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
            Save and Continue
        </button>
    </form>
</app-layout>
</template>

<script>
import AppLayout from "@/Layouts/AppLayout";
import Step from "@/Components/Step";
import JetInput from '@/Jetstream/Input';
import Label from "@/Jetstream/Label";
import Button from "@/Jetstream/Button";
import JetValidationErrors from "@/Jetstream/ValidationErrors";
// import BreezeSelect from "@/Components/Select";
import {ref} from "vue";

export default {
    name: "Vehicle",
    components: {
        // BreezeSelect,
        AppLayout,
        Step,
        JetInput,
        Label,
        Button,
        JetValidationErrors,
    },
    data() {
        return {
            tit:ref(null),
            form: this.$inertia.form('vehicle',{
                truck: '',
                max_load:'',
                license_plate:'',
                unit:'',
                license_number:'',
                reference_number:'',
                expiry_date:'',

            }),
        }
    },

    methods: {
        submit() {
            this.form.post(this.route('carriers.register.vehicle'), {
                // onFinish: () => this.form.reset(''),
                preserveState:true
            })
        },
        updateTruck(value) {
            this.tit = value
            return this.truck = value
        }

    },
    computed: {
    }
}
</script>

<style scoped>

</style>
