<template>
        <app-layout>
            <section class="text-gray-600 body-font relative">
                <div class="mx-0 p-0 m-0 flex flex-grow sm:flex-nowrap flex-wrap">
                    <div class="hidden space-x-8 sm:flex sm:w-1/3 bg-gray-50 p-8 flex flex-col md:ml-auto w-full h-full z-10 md:py-5 lg:mb-24 mt-8 md:mt-0">

                        <div>
                            <h2 class="text-gray-900 text-lg mb-1 font-medium title-font">
                                <div id="title">

                                </div>
                            </h2>

                            <div class="flex flex-col flex-grow-0">
                                <div id="RequestForm">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="h-screen w-full sm:w-2/3 overflow-hidden sm:mr-1 p-1 items-end justify-start relative">
                            <div class="absolute inset-0 bg-gray-300">
                                <!--                <f-v-g-maps/>-->
                                <vue-google-maps
                                    @google-map-updated="onGoogleMapUpdated"
                                    style="width: 100%; height: 100vh;"
                                    :map-config="mapConfig"
                                    :api-key="apiKey"
                                    :libraries="mapLibraries"
                                    class="border border-gray-50"
                                ></vue-google-maps>
                            </div>
                        <div  class="focus flex flex-col flex-grow-0 w-full mx-auto z-10 absolute inset-x-0 bottom-0 overflow-hidden shadow-md justify-center sm:hidden">

                            <div v-if="checkErrors" :class="{'block': showingDropup, 'hidden': ! showingDropup}" class="sm:hidden relative bg-white bottom-1">

                                <button @click="showingDropup = ! showingDropup"
                                        :class="{'block':  showingDropup, 'hidden': ! showingDropup}"
                                        class="bottom-0 w-20 h-1.5 bg-gray-500 rounded mx-auto mt-3 justify-center border border-transparent hover:bg-gray-700 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:ring focus:ring-gray-300 disabled:opacity-25 transition">
                                </button>
                                <div id="responsiveRequestForm">

                                </div>

                            </div>

                            <div class="pb-3">
                                <div v-if="hasErrors" @click="showingDropup = ! showingDropup"
                                     :class="{'block': ! showingDropup, 'hidden': showingDropup}"
                                     class="text-xs bg-white">
                                    <jet-validation-errors/>
                                </div>
                                <button id="buttonName"
                                    @click="showingDropup = ! showingDropup"
                                        :class="{'block': ! showingDropup, 'hidden': showingDropup}"
                                        class="inset-x-0 bottom-0 min-w-full inline-flex items-center justify-center px-4 py-2 bg-green-500 border border-transparent font-semibold text-xs text-white uppercase text-center tracking-widest hover:bg-green-700 active:bg-green-900 focus:outline-none focus:border-green-900 focus:ring focus:ring-green-300 disabled:opacity-25 transition">

                                </button>
                            </div>


                        </div>

                    </div>
                </div>
    <slot /><!--Order Flow process-->
            </section>
        </app-layout>
</template>

<script>
import AppLayout from "@/Layouts/AppLayout";
import VueGoogleMaps from "@point-hub/vue-google-maps";
import {computed, onMounted, ref} from "vue";
import { mapState, useStore } from "vuex";
import {useForm} from "@inertiajs/inertia-vue3";
import NavLink from "@/Components/NavLink";
import JetButton from "@/Jetstream/Button";
import JetValidationErrors from "@/Jetstream/ValidationErrors";

export default {
    name: "BasePage",
    components: {
        AppLayout,
        VueGoogleMaps,
        NavLink,
        JetButton,
        JetValidationErrors,
    },
    props: {
        status: String,
    },

    setup(props){

        let showingDropup = ref(true)
        const store = useStore()
        let loaded = ref(false)
        // showButton: false,
        // accordion:true,
        const apiKey= 'AIzaSyC57LtGParA8Ek4FJWaTMoFJvmHuwHiuZc'//process.env.MIX_GOOGLE_MAPS_API

        let mapConfig;
        mapConfig = {
            zoom: 8,
            center: { lat: 7.9527706, lng: -1.0307118 },

            zoomControl: true,
            mapTypeControl: false,
            scaleControl: false,
            streetViewControl: false,
            rotateControl: false,
            fullscreenControl: false,
            disableDefaultUi: true,
            styles: [
                {
                    featureType: "poi.business",
                    stylers: [
                        {
                            visibility: "on"
                        }
                    ]
                },
                {
                    featureType: "poi.park",
                    elementType: "labels.text",
                    stylers: [
                        {
                            visibility: "on"
                        }
                    ]
                }
            ]
        }

        const mapLibraries= ["places"]
        let map= ref(null)
        let google= ref(null)
        let geocoder= ref(null)
        let pickupAutocomplete= ref(null)
        let dropoffAutocomplete= ref(null)
        let infoWindow= ref(null)
        let marker= ref(null)
        let directionsService = ref(null)
        let directionsRenderer = ref(null)
        const truck = {
            path: "M10.453 14.016l6.563-6.609-1.406-1.406-5.156 5.203-2.063-2.109-1.406 1.406zM12 2.016q2.906 0 4.945 2.039t2.039 4.945q0 1.453-0.727 3.328t-1.758 3.516-2.039 3.070-1.711 2.273l-0.75 0.797q-0.281-0.328-0.75-0.867t-1.688-2.156-2.133-3.141-1.664-3.445-0.75-3.375q0-2.906 2.039-4.945t4.945-2.039z",
            fillColor: "blue",
            fillOpacity: 0.6,
            strokeWeight: 0,
            rotation: 0,
            scale: 2,
            // anchor: new google.maps.Point(15, 30),
        }
        const tricycle = {
            path: "M10.453 14.016l6.563-6.609-1.406-1.406-5.156 5.203-2.063-2.109-1.406 1.406zM12 2.016q2.906 0 4.945 2.039t2.039 4.945q0 1.453-0.727 3.328t-1.758 3.516-2.039 3.070-1.711 2.273l-0.75 0.797q-0.281-0.328-0.75-0.867t-1.688-2.156-2.133-3.141-1.664-3.445-0.75-3.375q0-2.906 2.039-4.945t4.945-2.039z",
            fillColor: "blue",
            fillOpacity: 0.6,
            strokeWeight: 0,
            rotation: 0,
            scale: 2,
            // anchor: new google.maps.Point(15, 30),
        }
        const motorbike = {
            path: "M10.453 14.016l6.563-6.609-1.406-1.406-5.156 5.203-2.063-2.109-1.406 1.406zM12 2.016q2.906 0 4.945 2.039t2.039 4.945q0 1.453-0.727 3.328t-1.758 3.516-2.039 3.070-1.711 2.273l-0.75 0.797q-0.281-0.328-0.75-0.867t-1.688-2.156-2.133-3.141-1.664-3.445-0.75-3.375q0-2.906 2.039-4.945t4.945-2.039z",
            fillColor: "blue",
            fillOpacity: 0.6,
            strokeWeight: 0,
            rotation: 0,
            scale: 2,
            // anchor: new google.maps.Point(15, 30),
        }
        const orderForm = useForm({
            pickup: ref(null),
            // pickup1: ref(null),
            dropoff: ref(null),
            // dropoff1: ref(null),
            load_type: ref(null),
            quantity: ref(null),
            lat: ref(null),
            lng: ref(null),
            latD: ref(null),
            lngD: ref(null),
        })


        function errors() {
            return $page.props.errors
        }

        function hasErrors() {
            return Object.keys(errors).length > 0;
        }

        function checkErrors(){
            if (hasErrors){
                return showingDropup = true;
            }
            return showingDropup = false
        }
        function getGeocode() {
            if (props.status !== 'request-order') {
                return;
            }
            geocoder.geocode(
                { location: marker.position },
                (results, status) => {
                    if (status === "OK") {
                        if (results[0]) {
                            orderForm.pickup = results[0].formatted_address;
                        } else {
                            window.alert("No results found");
                        }
                    } else {
                        window.alert("Geocoder failed due to: " + status);
                    }
                }
            );
        }

        function onGoogleMapUpdated(googleMap) {
            // if (props.status !== 'request-order') {
            //     return;
            // }
            map = googleMap.map;
            google = googleMap.google;

            // eslint-disable-next-line no-undef
            infoWindow = new google.maps.InfoWindow();
            infoWindow.open(map);

            // eslint-disable-next-line no-undef
            geocoder = new google.maps.Geocoder();

            let input;
            let dropoff;
            if (window.innerWidth <= 641) {
                input = document.getElementById("pickup1");
                dropoff = document.getElementById("dropoff1");
            } else {
                input = document.getElementById("pickup");
                dropoff = document.getElementById("dropoff");
            }

            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(
                    position => {
                        let myPosition;
                        myPosition = {
                            lat: position.coords.latitude,
                            lng: position.coords.longitude
                        };
                        orderForm.lat = position.coords.latitude;
                        orderForm.lng = position.coords.longitude;

                        const {Marker} = google.maps;
                        marker = new Marker({
                            position: myPosition,
                            map: map,
                            draggable: true,
                            animation: google.maps.Animation.DROP,
                            title: "Current Position"
                        });
                        getGeocode();
                        // eslint-disable-next-line no-undef
                        google.maps.event.addListener(marker, "dragend", function (
                            evt
                        ) {
                            orderForm.lat = evt.latLng.lat();
                            orderForm.lng = evt.latLng.lng();
                            getGeocode();
                        });

                        map.panTo(marker.position);
                    },
                    () => {
                        handleLocationError(false);
                    },
                    {
                        enableHighAccuracy: true
                    }
                );
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false);
            }
            // eslint-disable-next-line no-undef

            const options = {
                componentRestrictions: { country: "gh" },
                fields: ["address_components", "geometry", "name","formatted_address"],
            }
            pickupAutocomplete = new google.maps.places.Autocomplete(input,options);
            dropoffAutocomplete = new google.maps.places.Autocomplete(dropoff,options);


            directionsService = new google.maps.DirectionsService();
            directionsRenderer = new google.maps.DirectionsRenderer();
            directionsRenderer.setMap(map);


            setupPlaceChangedListener(pickupAutocomplete, "PICKUP");
            setupPlaceChangedListener(dropoffAutocomplete, "DROPOFF");

        }


        function calculateAndDisplayRoute(directionsService, directionsRenderer) {
            if (!orderForm.lat || !orderForm.latD) {
                return;
            }
            let pickupLocation = new google.maps.LatLng(orderForm.lat,orderForm.lng);
            let dropoffLocation = new google.maps.LatLng(orderForm.latD,orderForm.lngD);
            directionsService.route(
                {
                    origin: pickupLocation,
                    destination: dropoffLocation,
                    travelMode: google.maps.TravelMode.DRIVING,
                },
                (response, status) => {
                    if (status === "OK") {
                        //Commit the local order to the store
                        store.commit('mergeOrderForm',orderForm)
                        directionsRenderer.setDirections(response);
                    } else {
                        window.alert("Directions request failed due to " + status);
                    }
                }
            );
        }

        function setupPlaceChangedListener(autocomplete, mode) {
            autocomplete.bindTo("bounds", map);
            autocomplete.addListener("place_changed", () => {
                const place = autocomplete.getPlace();

                if (!place.geometry) {
                    window.alert("No details available for input: '" + place.name + "' Please select an option from the dropdown list.");
                    return;
                }
                // If the place has a geometry, then present it on a map.
                if (place.geometry.viewport) {
                    map.fitBounds(place.geometry.viewport);
                } else {
                    map.setCenter(place.geometry.location);
                    map.setZoom(17);
                }
                // marker.setPosition(place.geometry.location);
                // marker.setVisible(true);


                if (mode === "PICKUP") {
                    orderForm.pickup = place.name + ", " + place.formatted_address;
                    orderForm.lat = place.geometry.location.lat();
                    orderForm.lng = place.geometry.location.lng();
                }
                if (mode === "DROPOFF") {
                    orderForm.dropoff = place.name + ", " + place.formatted_address;
                    orderForm.latD = place.geometry.location.lat();
                    orderForm.lngD = place.geometry.location.lng();
                }
                calculateAndDisplayRoute(directionsService,directionsRenderer);
            });
        }

        function handleLocationError(browserHasGeolocation) {
            infoWindow.setPosition(map.getCenter());
            infoWindow.setContent(
                browserHasGeolocation
                    ? "Error: The Geolocation service failed."
                    : "Error: Your browser doesn't support geolocation."
            );
            infoWindow.open(map);
        }

        const domWidth = computed(() => window.innerWidth <= 641)

        onMounted(()=> loaded=true)

        return {
            showingDropup,
            errors,
            hasErrors,
            checkErrors,
            apiKey,
            mapConfig,
            mapLibraries,
            loaded,
            orderForm,
            domWidth,
            getGeocode,
            handleLocationError,
            setupPlaceChangedListener,
            calculateAndDisplayRoute,
            onGoogleMapUpdated,
        }
    },

    computed: mapState({
        order: state => state.orderForm,
    }),
    methods: {
        commitState(){
            this.$store.commit()
        }
    }
}

</script>

<style scoped>

</style>
