<template>
    <base-page>
        <component :is="currentComponent">
        </component>
    </base-page>
</template>

<script>
import {computed, defineAsyncComponent} from "vue";
import BasePage from "@/Pages/RequestOrder/BasePage";

export default {

    name: "OrderPage",
    components: {
        BasePage,
        RequestVehicle: defineAsyncComponent( () => import('@/Components/RequestOrder/RequestVehicle')),
        ConfirmOrder: defineAsyncComponent(() => import('@/Components/RequestOrder/ConfirmOrder')),
        SearchTruck: defineAsyncComponent(() => import('@/Components/RequestOrder/SearchTruck')),
        AssignTruck: defineAsyncComponent(() => import('@/Components/RequestOrder/AssignedTruck')),
        EnRouteTruck: defineAsyncComponent(() => import('@/Components/RequestOrder/EnRouteTruck')),
        TruckArrived: defineAsyncComponent(() => import('@/Components/RequestOrder/TruckArrived')),
        StartJourney: defineAsyncComponent(() => import('@/Components/RequestOrder/StartJourney')),
        JourneyProgress: defineAsyncComponent(() => import('@/Components/RequestOrder/JourneyProgress')),
        JourneyCompleted: defineAsyncComponent(() => import('@/Components/RequestOrder/JourneyCompleted')),

    },
    props: {
        status: String,
    },

    setup(props){
        // const currentComponent = reactive(String)
        return {
            currentComponent: computed(()=>{
                switch (props.status) {
                    case 'journey-completed':
                        return 'journey-completed'
                    case 'journey-progress':
                        return 'journey-progress'
                    case 'start-journey':
                        return 'start-journey'
                    case 'truck-arrived':
                        return 'truck-arrived'
                    case 'en-route-truck':
                        return 'en-route-truck'
                    case 'assigned-truck':
                        return 'assigned-truck'
                    case 'search-truck':
                        return 'search-truck'
                    case 'confirm-order':
                        return 'confirm-order'
                    default:
                        return 'request-vehicle'
                }
            }),
        }
    },

}
</script>

<style scoped>

</style>
