<template>
        <teleport to="#title">
            Confirm Order Request
        </teleport>
        <teleport to="#RequestForm">
            <div>
                <form class="flex flex-col flex-grow-0" :action="route('searching')" method="POST" @submit.prevent="submit">
                    <p class="leading-relaxed mb-5 text-gray-600">
                        <!--                                    <jet-validation-errors/>-->
                        <!--                                    <success/>-->
                    </p>
                    <p>
                        {{$page.props.confirm}}
                    </p>
                    <jet-button class="text-white justify-center bg-green-500 border-0 py-2 px-6 focus:bg-gray-400 hover:bg-green-600 text-lg" type="submit" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                        Confirm request
                    </jet-button>
                </form>
                <div class="flex block my-4">
                    <nav-link :method="'get'" :as="'button'" :href="route('searching')">Cancel Request </nav-link>
                </div>
            </div>
        </teleport>
        <teleport to="#responsiveRequestForm">

            <div class="rounded-t-lg -mt-5 relative z-10 px-5 pt-2 pb-5">
                <div class="flex -mx-3">
                    <div class="w-1/2 px-3 text-center">
                        <div class="text-xs leading-none mb-2">PRICE</div>
                        <div class="text-xl leading-tight text-gray-200">$3.80hr</div>
                    </div>
                    <div class="w-1/2 px-3 text-center">
                        <div class="text-xs leading-none mb-2">SIZE</div>
                        <div class="text-xl leading-tight text-gray-200">Large</div>
                    </div>
                </div>
                <hr class="border-gray-800 my-5">
                <div class="flex -mx-3">
                    <div class="w-1/3 px-3 text-center">
                        <div class="text-xs leading-none mb-2">DATE</div>
                        <div class="text-xs leading-tight text-gray-200">13 Aug. 2020</div>
                    </div>
                    <div class="w-1/3 px-3 text-center">
                        <div class="text-xs leading-none mb-2">DISTANCE</div>
                        <div class="text-xs leading-tight text-gray-200">600m / 4mins</div>
                    </div>
                    <div class="w-1/3 px-3 text-center">
                        <div class="text-xs leading-none mb-2">PID</div>
                        <div class="text-xs leading-tight text-gray-200">7862</div>
                    </div>
                </div>
                <hr class="border-gray-800 my-5">
                <div class="flex -mx-3">
                    <div class="w-1/2 px-3">
                        <button class="block w-full rounded-lg p-4 bg-gray-800 hover:bg-gray-900 border border-gray-800 text-gray-200 text-center text-sm">
                            CANCEL
                        </button>
                    </div>
                    <div class="w-1/2 px-3">
                        <button class="block w-full rounded-lg p-4 bg-indigo-500 hover:bg-indigo-600 border border-indigo-500 hover:border-indigo-600 text-gray-200 text-center text-sm">
                            START
                        </button>
                    </div>
                </div>
            </div>
                <form class="container mx-auto flex flex-col w-full p-5 z-10" :action="route('searching')" method="POST" @submit.prevent="submit">

                    {{$page.props.confirm}}
                    <jet-button @click="showingDropup = ! showingDropup"
                                class="text-white justify-center bg-green-500 border-0 py-2 px-6 focus:bg-gray-400 hover:bg-green-600 text-xs" type="submit" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                        Confirm Request
                    </jet-button>
                    <div class="flex block my-4">
                        <nav-link :method="'get'" :as="'button'" :href="route('searching')">Cancel Request </nav-link>
                    </div>
                </form>
        </teleport>
    <teleport to="#buttonName">
        Confirm your request
    </teleport>
</template>

<script>
import NavLink from "@/Jetstream/NavLink";
import JetButton from "@/Jetstream/Button";
import {ref} from "vue";

export default {
    name: "ConfirmOrder",
    components: {
        NavLink,
        JetButton,
    },
    props: {
        order:String,
        confirm:String,
    },

    setup(){
        let showingDropup = ref(true)


        function errors() {
            return $page.props.errors
        }

        function hasErrors() {
            return Object.keys(errors).length > 0;
        }

        function checkErrors(){
            if (hasErrors){
                return showingDropup = true;
            }
            return showingDropup = false
        }


        return {
            showingDropup,
           errors,
            hasErrors,
            checkErrors,
        }
    },
    data() {
        return {
            form: this.$inertia.form({
                orderId: this.$page.props.order
            })
        };
    },
    methods: {
        submit() {
            this.form.put(this.route('searching', {
                preserveScroll: true,
                preserveState: true
                // onFinish: () => this.form.reset(),
            }))
        },
    }

}

</script>

<style scoped>

</style>
