<template>
    <teleport to="#title">
Journey Completed
    </teleport>
    <teleport to="#RequestForm">
            <div>
                <form class="flex flex-col flex-grow-0" :action="route('searching')" method="POST" @submit.prevent="submit">
                    <p class="leading-relaxed mb-5 text-gray-600">
                        <!--                                    <jet-validation-errors/>-->
                        <!--                                    <success/>-->
                    </p>


                    <jet-button class="text-white justify-center bg-green-500 border-0 py-2 px-6 focus:bg-gray-400 hover:bg-green-600 text-lg" type="submit" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                        Journey Completed
                    </jet-button>
                </form>
                <div class="flex block my-4">
                    <nav-link method="get" as="button" :href="route('searching')">Cancel Request </nav-link>
                </div>
            </div>

    </teleport>
    <teleport to="#responsiveRequestForm">

                <form class="container mx-auto flex flex-col w-full p-5 z-10" :action="route('searching')" method="POST" @submit.prevent="submit">



                    <jet-button @click="showingDropup = ! showingDropup"
                                class="text-white justify-center bg-green-500 border-0 py-2 px-6 focus:bg-gray-400 hover:bg-green-600 text-xs" type="submit" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                        Journey Completed
                    </jet-button>
                </form>
    </teleport>
    <teleport to="#buttonName">
        Journey Completed
    </teleport>
</template>

<script>
import {ref} from "vue";
import NavLink from "@/Components/NavLink";
import JetButton from "@/Jetstream/Button";

export default {
    name: "JourneyCompleted",
    components: {
        NavLink,
        JetButton,
    },

    setup(){
        let showingDropup = ref(true)

        function errors() {
            return $page.props.errors
        }

        function hasErrors() {
            return Object.keys(errors).length > 0;
        }

        function checkErrors(){
            if (hasErrors){
                return showingDropup = true;
            }
            return showingDropup = false
        }

        return {
            showingDropup,
            errors,
            hasErrors,
            checkErrors
        }

    }
}
</script>

<style scoped>

</style>
