<template>
        <teleport to="#title">
            Request for Truck
        </teleport>
        <teleport to="#RequestForm">
            <div>
                <form class="flex flex-col flex-grow-0" :action="route('searching')" method="POST" @submit.prevent="submit">
<!--                    <p class="leading-relaxed mb-5 text-gray-600">-->
                        <!--                                    <jet-validation-errors/>-->
                        <!--                                    <success/>-->
<!--                    </p>-->
                    <input-holder>
                        <template #label>
                            <jet-label for="pickup" class="leading-7 text-sm text-gray-600">Pickup Location</jet-label>
                        </template>
                        <template #icon>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
                            </svg>
                        </template>
                        <template #input>
                            <jet-input type="text" id="pickup" required name="pickup" v-model="form.pickup" placeholder="Enter pickup location" class=" -ml-10 pl-10 pr-3 py-2 outline-none w-full border border-gray-300 focus:border-green-500 focus:ring-2 focus:ring-green-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"/>
                        </template>
                    </input-holder>                            <span v-if="hasErrors" class="error text-red-600 text-xs">{{ form.errors.pickup }}</span>

                    <input-holder>
                        <template #label>
                            <jet-label for="dropoff" class="leading-7 text-sm text-gray-600">Drop-off Location</jet-label>
                        </template>
                        <template #icon>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
                            </svg>
                        </template>
                        <template #input>
                            <jet-input type="text" id="dropoff" required v-model="form.dropoff" name="dropoff" placeholder="Enter dropoff location" class=" -ml-10 pl-10 pr-3 py-2 outline-none w-full border border-gray-300 focus:border-green-500 focus:ring-2 focus:ring-green-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"/>
                        </template>
                    </input-holder>                            <span v-if="hasErrors" class="error text-red-600 text-xs">{{ form.errors.dropoff }}</span>

                    <input-holder>
                        <template #label>
                            <jet-label for="load_type">Select the Load Type</jet-label>
                        </template>
                        <template #icon>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 9l4-4 4 4m0 6l-4 4-4-4" />
                            </svg>
                        </template>
                        <template #input>
                            <select name="load_type" required v-model="form.load_type" class="w-full border border-gray-300 focus:border-green-500 focus:ring-2 focus:ring-green-200  -ml-10 pl-10 pr-3 py-2 outline-none text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                                <option ref="grains" value="grains">Grains</option>
                                <option ref="tubers" value="tubers">Tubers</option>
                                <option ref="fruits" value="fruits">Fruits and Vegetables</option>
                            </select>
                        </template>
                    </input-holder>                            <span v-if="hasErrors" class="error text-red-600 text-xs">{{ form.errors.load_type }}</span>

                    <input-holder>
                        <template #label>
                            <jet-label for="quantity" class="leading-7 text-sm text-gray-600">Quantity</jet-label>
                        </template>
                        <template #icon>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10" />
                            </svg>
                        </template>
                        <template #input>
                            <jet-input type="number" :min="0" required id="_quantity" v-model="form.quantity" name="quantity" class="w-full border border-gray-300 -ml-10 pl-10 pr-3 py-2 outline-none  focus:border-green-500 focus:ring-2 focus:ring-green-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"/>
                        </template>
                    </input-holder>                            <span v-if="hasErrors" class="error text-red-600 text-xs">{{ form.errors.quantity }}</span>

                    <jet-button class="text-white justify-center bg-green-500 border-0 mt-4 py-2 px-6 focus:bg-gray-400 hover:bg-green-600 text-lg" type="submit" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                        Book Order
                    </jet-button>
                </form>
            </div>
        </teleport>
        <teleport to="#responsiveRequestForm">
            <form class="container mx-auto flex flex-col w-full p-5 z-10" :action="route('searching')" method="POST" @submit.prevent="submit">

                <input-holder :class="'mb-1'">
                    <template #label>
                        <jet-label for="pickup" class="w-full title-font font-semibold text-gray-900 tracking-widest text-xs">Pickup Location</jet-label>
                    </template>
                    <template #icon>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
                        </svg>
                    </template>
                    <template #input>
                        <jet-input type="text" required id="pickup1" v-model="form.pickup" name="pickup" placeholder="Enter pickup location" class="w-full -ml-10 pl-10 pr-3 py-2 outline-none border border-gray-300 focus:border-green-500 focus:ring-2 focus:ring-green-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"/>
                    </template>
                </input-holder>                        <span v-if="hasErrors" class="error text-red-600 text-xs">{{ form.errors.pickup }}</span>

                <input-holder :class="'mb-1'">
                    <template #label>
                        <jet-label for="dropoff" class="w-full title-font font-semibold text-gray-900 tracking-widest text-xs">Drop-off Location</jet-label>
                    </template>
                    <template #icon>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
                        </svg>
                    </template>
                    <template #input>
                        <jet-input type="text" required id="dropoff1" v-model="form.dropoff" name="dropoff" placeholder="Enter dropoff location" class="w-full -ml-10 pl-10 pr-3 py-2 outline-none border border-gray-300 focus:border-green-500 focus:ring-2 focus:ring-green-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"/>
                    </template>
                </input-holder>                        <span v-if="hasErrors" class="error text-red-600 text-xs">{{ form.errors.dropoff}}</span>

                <input-holder :class="'mb-1'">
                    <template #label>
                        <jet-label for="load_type" class="title-font font-semibold text-gray-900 tracking-widest text-xs">Select the Load Type</jet-label>
                    </template>
                    <template #icon>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 9l4-4 4 4m0 6l-4 4-4-4" />
                        </svg>
                    </template>
                    <template #input>
                        <select name="load_type" required v-model="form.load_type" class="w-full -ml-10 pl-10 pr-3 py-2 outline-none border border-gray-300 focus:border-green-500 focus:ring-2 focus:ring-green-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                            <option value="grains">Grains</option>
                            <option value="tubers">Tubers</option>
                            <option value="fruits">Fruits and Vegetables</option>
                        </select>
                    </template>
                </input-holder>                        <span v-if="hasErrors" class="error text-red-600 text-xs">{{ form.errors.load_type }}</span>

                <input-holder :class="'mb-1'">
                    <template #label>
                        <jet-label for="quantity" class="w-full title-font font-semibold text-gray-900 tracking-widest text-xs">Quantity</jet-label>
                    </template>
                    <template #icon>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10" />
                        </svg>
                    </template>
                    <template #input>
                        <jet-input type="number" required :min="0" id="quantity" v-model="form.quantity" name="quantity" class="w-full -ml-10 pl-10 pr-3 py-2 outline-none border border-gray-300 focus:border-green-500 focus:ring-2 focus:ring-green-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"/>
                    </template>
                </input-holder>                        <span v-if="hasErrors" class="error text-red-600 text-xs">{{ form.errors.quantity }}</span>


                    <jet-button @click="showingDropup = ! showingDropup"
                                class="text-white justify-center bg-green-500 border-0 mt-4 py-2 px-6 focus:bg-gray-400 hover:bg-green-600 text-xs" type="submit" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                        Book Order
                    </jet-button>
                </form>
        </teleport>
    <teleport to="#buttonName">
        Request for Truck
    </teleport>
</template>

<script>
import JetLabel from "@/Jetstream/Label";
import JetInput from "@/Jetstream/Input";
import JetButton from "@/Jetstream/Button";
import {useForm} from "@inertiajs/inertia-vue3";
import {ref, reactive, computed} from "vue";
import {mapState, useStore} from "vuex";
import InputHolder from "@/Components/InputHolder";


export default {
    name: "RequestVehicle",
    components: {
        InputHolder,
        JetLabel,
        JetInput,
        JetButton,
    },
    // props: ['form'],
    //
    // emits: ['update:form'],

    setup(){
        const store = useStore()
        let showingDropup = ref(true)
        let form = useForm('VehicleOrder',{
            pickup: computed(() => store.state.orderForm.pickup ),
            dropoff: computed(() => store.state.orderForm.dropoff ),
            lat: computed(() => store.state.orderForm.lat ),
            lng: computed(() => store.state.orderForm.lng ),
            latD: computed(() => store.state.orderForm.latD ),
            lngD: computed(() => store.state.orderForm.lngD ),
            load_type: reactive(null),
            quantity: reactive(null),

        })


        function submit(){
            form.post(route('searching'),{
                preserveScroll: true,
                preserveState: true
                // onFinish: () => this.form.reset(),
            })
        }
        function errors() {
            return $page.props.errors
        }

        function hasErrors() {
            return Object.keys(errors).length > 0;
        }

        function checkErrors(){
            if (hasErrors){
                return showingDropup = true;
            }
            return showingDropup = false
        }

        return {
            form,
            showingDropup,
            submit,
            hasErrors,
            checkErrors,

        }
    },
    computed: mapState({
        orderForm: state => state.orderForm,
    })

}
</script>

<style scoped>

</style>
