<template>
    <teleport to="#title">
        Searching for truck
    </teleport>
    <teleport to="#RequestForm">
            <div>
                <form class="flex flex-col flex-grow-0" :action="route('searching')" method="POST" @submit.prevent="submit">


<!--                    <jet-button class="text-white justify-center bg-green-500 border-0 py-2 px-6 focus:bg-gray-400 hover:bg-green-600 text-lg" type="submit" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">-->
<!--                        Searching for truck-->
<!--                    </jet-button>-->
                    <div class="flex block justify-center z-30 cp-spinner cp-balls"></div>
                </form>
                <div class="flex block my-4">
                    <nav-link :method="'get'" :as="'button'" :href="route('searching')">Cancel Request </nav-link>
                </div>
            </div>

    </teleport>
    <teleport to="#responsiveRequestForm">
                <form class="container mx-auto flex flex-col w-full p-5 z-10" :action="route('searching')" method="POST" @submit.prevent="submit">
                    <!-- your form inputs goes here-->



<!--                    <jet-button @click="showingDropup = ! showingDropup"-->
<!--                                class="text-white justify-center bg-green-500 border-0 py-2 px-6 focus:bg-gray-400 hover:bg-green-600 text-xs" type="submit" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">-->
<!--                        Searching for truck-->
<!--                    </jet-button>-->
                    <div class="flex block justify-center z-30 cp-spinner cp-balls"></div>
                    <div class="flex block my-4">
                        <nav-link :method="'get'" :as="'button'" :href="route('searching')">Cancel Request </nav-link>
                    </div>
                </form>
    </teleport>
    <teleport to="#buttonName">
        Searching for truck
    </teleport>
</template>

<script>
import {ref} from "vue";
import NavLink from "@/Components/NavLink";
import JetButton from "@/Jetstream/Button";

export default {
    name: "SearchTruck",
    components: {
        NavLink,
        JetButton,
    },
    props: {
        order:String,
    },

    setup(){
        let showingDropup = ref(true)


            function errors() {
            return $page.props.errors
        }

        function hasErrors() {
            return Object.keys(errors).length > 0;
        }

        function checkErrors(){
            if (hasErrors){
                return showingDropup = true;
            }
            return showingDropup = false
        }

        return {
            showingDropup,
            errors,
            hasErrors,
            checkErrors,
        }

    },
    data() {
        return {
            form: this.$inertia.form({
                orderId: this.$page.props.order
            })
        }
    }

}
</script>

<style scoped>
</style>
