<template>
<!--    <breeze-validation-errors class="mb-4" />-->

    <div v-if="status" class="mb-4 font-medium text-sm text-green-600">
        {{ status }}
    </div>

    <form @submit.prevent="submit">
        <input-holder>
            <template #label>
                <breeze-label for="email" value="Email or Phone Number" />
            </template>
            <template #icon>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
                    <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
                </svg>
            </template>
            <template #input>
                <breeze-input id="email" type="email" class="mt-1 block w-full -ml-10 pl-10 pr-3 py-2 outline-none" v-model="form.email" required autofocus/>
            </template>
        </input-holder>
        <span v-if="hasErrors" class="error text-red-600 text-xs">{{form.errors.email}}</span>

        <input-holder>
            <template #label>
                <breeze-label for="password" value="Password" />
            </template>
            <template #icon>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
                </svg>
            </template>
            <template #input>
                <breeze-input id="password" type="password" class="mt-1 block w-full w-full -ml-10 pl-10 pr-3 py-2 outline-none" v-model="form.password" required autocomplete="current-password" />
            </template>
        </input-holder>
        <span v-if="hasErrors" class="error text-red-600 text-xs">{{form.errors.password}}</span>


        <div class="block mt-4">
            <label class="flex items-center">
                <breeze-checkbox name="remember" v-model:checked="form.remember" />
                <span class="ml-2 text-sm text-gray-600">Remember me</span>
            </label>
        </div>

        <div class="flex items-center justify-end mt-4">
            <inertia-link v-if="canResetPassword" :href="route('partner.password.request')" class="underline text-sm text-gray-600 hover:text-gray-900">
                Forgot your password?
            </inertia-link>

            <breeze-button class="ml-4" type="submit" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                Log in
            </breeze-button>
        </div>
    </form>
    <div class="flex block my-4">
        <nav-link :href="route('partner.register')">Don't have an account ? Sign up here </nav-link>
    </div>
</template>

<script>
    import BreezeButton from '@/Components/Button'
    import BreezeGuestLayout from "@/Layouts/Guest"
    import BreezeInput from '@/Components/Input'
    import BreezeCheckbox from '@/Components/Checkbox'
    import BreezeLabel from '@/Components/Label'
    import BreezeValidationErrors from '@/Components/ValidationErrors'
    import NavLink from "@/Components/NavLink";
    import InputHolder from "@/Components/InputHolder";

    export default {
        layout: BreezeGuestLayout,

        components: {
            InputHolder,
            BreezeButton,
            BreezeInput,
            BreezeCheckbox,
            BreezeLabel,
            BreezeValidationErrors,
            NavLink
        },

        props: {
            auth: Object,
            canResetPassword: Boolean,
            errors: Object,
            status: String,
        },

        data() {
            return {
                form: this.$inertia.form({
                    email: '',
                    password: '',
                    remember: false
                })
            }
        },

        methods: {
            submit() {
                this.form
                    .transform(data => ({
                        ... data,
                        remember: this.form.remember ? 'on' : ''
                    }))
                    .post(this.route('partner.login'), {
                        onFinish: () => this.form.reset('password'),
                    })
            }
        },
        computed: {
            errors() {
                return this.$page.props.errors
            },

            hasErrors() {
                return Object.keys(this.errors).length > 0;
            },
        }
    }
</script>
