<template>
<!--    <breeze-validation-errors class="mb-4" />-->

    <form @submit.prevent="submit">
        <input-holder>
            <template #label>
                <breeze-label for="name" value="Name"/>
            </template>
            <template #icon>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd" />
                </svg>
            </template>
            <template #input>
                <breeze-input id="name" type="text" class="mt-1 block w-full -ml-10 pl-10 pr-3 py-2 outline-none" v-model="form.name" required autofocus autocomplete="name" />
            </template>
        </input-holder>                <span v-if="hasErrors" class="error text-red-600 text-xs">{{form.errors.name}}</span>


        <input-holder>
            <template #label>
                <breeze-label for="email" value="Email" />
            </template>
            <template #icon>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
                    <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
                </svg>
            </template>
            <template #input>
                <breeze-input id="email" type="email" class="mt-1 block w-full -ml-10 pl-10 pr-3 py-2 outline-none" v-model="form.email" required/>
            </template>
        </input-holder>                <span v-if="hasErrors" class="error text-red-600 text-xs">{{form.errors.email}}</span>


        <!--            <div class="mt-4">-->
        <!--                <breeze-label for="phone" value="Phone" />-->
        <!--                <breeze-input id="phone" type="tel" class="mt-1 block w-full" v-model="form.phone" required />-->
        <!--            </div>-->

        <!--            <div class="mt-4">-->
        <!--                    <vue-tel-input-->
        <!--                        v-model="form.phone"-->
        <!--                        :value="updatePhone"-->
        <!--                    mode="national">-->
        <!--                    </vue-tel-input>-->
        <!--            </div>-->
        <input-holder>
            <template #label>
                <breeze-label for="phone" class="px-1" value="Phone"/>
            </template>
            <template #icon>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z" />
                </svg>
                <span>233</span>
            </template>
            <template #input>
                <breeze-input type="tel" v-model="form.phone" maxlength="10" class="w-full -ml-10 pl-10 pr-3 py-2 outline-none" placeholder="024 123 4567" required/>
            </template>
        </input-holder>                <span v-if="hasErrors" class="error text-red-600 text-xs">{{form.errors.phone}}</span>


        <input-holder>
            <template #label>
                <breeze-label for="password" value="Password" />
            </template>
            <template #icon>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
                </svg>
            </template>
            <template #input>
                <breeze-input id="password" type="password" class="mt-1 block w-full w-full -ml-10 pl-10 pr-3 py-2 outline-none" v-model="form.password" required autocomplete="new-password" />
            </template>
        </input-holder><span v-if="hasErrors" class="error text-red-600 text-xs">{{form.errors.password}}</span>

        <input-holder>
            <template #label>
                <breeze-label for="password_confirmation" value="Confirm Password" />
            </template>
            <template #icon>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
                </svg>
            </template>
            <template #input>
                <breeze-input id="password_confirmation" type="password" class="mt-1 block w-full -ml-10 pl-10 pr-3 py-2 outline-none" v-model="form.password_confirmation" required autocomplete="new-password" />
            </template>
        </input-holder>


        <div class="flex items-center justify-end mt-4">
<!--            <inertia-link :href="route('partner.login')" class="underline text-sm text-gray-600 hover:text-gray-900">-->
<!--                Already registered?-->
<!--            </inertia-link>-->
            <div class="inline-flex inline-block my-4">
                <nav-link :href="route('partner.login')">Already registered as a partner, Sign in </nav-link>
            </div>
            <breeze-button class="ml-4" type="submit" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                Register
            </breeze-button>
        </div>
    </form>

</template>

<script>
    import BreezeButton from '@/Components/Button'
    import BreezeGuestLayout from '@/Layouts/Guest'
    import BreezeInput from '@/Components/Input'
    import BreezeLabel from '@/Components/Label'
    import BreezeValidationErrors from '@/Components/ValidationErrors'
    import NavLink from "@/Jetstream/NavLink";
    import InputHolder from "@/Components/InputHolder";

    export default {
        layout: BreezeGuestLayout,

        components: {
            InputHolder,
            BreezeButton,
            BreezeInput,
            BreezeLabel,
            BreezeValidationErrors,
            NavLink,
        },

        data() {
            return {
                form: this.$inertia.form({
                    name: '',
                    email: '',
                    phone:'',
                    password: '',
                    password_confirmation: '',
                    terms: false,
                })
            }
        },

        methods: {
            submit() {
                this.form.post(this.route('partner.register'), {
                    onFinish: () => this.form.reset('password', 'password_confirmation'),
                })
            }
        },
        computed: {
            errors() {
                return this.$page.props.errors
            },

            hasErrors() {
                return Object.keys(this.errors).length > 0;
            },
        }
    }
</script>
