<template>
    <div>
        <jet-banner />

        <div class="min-h-screen bg-gray-100">
            <nav class="z-30 bg-gray-50 border-b border-gray-100">
                <!-- Primary Navigation Menu -->
                <div class="max-w-7xl mx-0 px-4 sm:px-0 lg:px-8">
                    <div class="flex justify-between h-16">
                        <div class="flex">
                            <!-- Logo -->
                            <div class="flex-shrink-0 w-auto flex items-center">
                                <inertia-link :href="route('homepage')">
                                    <jet-application-mark class="z-10 w-5 h-2 fill-current" />
                                </inertia-link>
                            </div>

                            <!-- Navigation Links -->
                            <div class="hidden space-x-8 sm:-my-px sm:ml-10 sm:flex">
                                <jet-nav-link :href="route('homepage')" :active="route().current('homepage')">
                                    Home
                                </jet-nav-link>
                                <jet-nav-link :href="route('searching')" :active="route().current('searching')">
                                        Request a truck
                                    </jet-nav-link>
                                <jet-nav-link :href="route('carriers.dashboard')" :active="route().current('carriers.dashboard')">
                                        Carriers
                                    </jet-nav-link>
                                <jet-nav-link :href="route('partner.dashboard')" :active="route().current('partner.dashboard')">
                                    Partners
                                </jet-nav-link>
                            </div>

                        </div>

                        <div class="hidden sm:flex sm:items-center sm:ml-6">
<!--                            <div class="ml-3 relative">-->
<!--                                &lt;!&ndash; Teams Dropdown &ndash;&gt;-->
<!--                                <jet-dropdown align="right" width="60" v-if="$page.props.jetstream.hasTeamFeatures">-->
<!--                                    <template #trigger>-->
<!--                                        <span class="inline-flex rounded-md">-->
<!--                                            <button type="button" class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-gray-500 bg-white hover:bg-gray-50 hover:text-gray-700 focus:outline-none focus:bg-gray-50 active:bg-gray-50 transition">-->
<!--                                                {{ $page.props.user.current_team.name }}-->

<!--                                                <svg class="ml-2 -mr-0.5 h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">-->
<!--                                                    <path fill-rule="evenodd" d="M10 3a1 1 0 01.707.293l3 3a1 1 0 01-1.414 1.414L10 5.414 7.707 7.707a1 1 0 01-1.414-1.414l3-3A1 1 0 0110 3zm-3.707 9.293a1 1 0 011.414 0L10 14.586l2.293-2.293a1 1 0 011.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z" clip-rule="evenodd" />-->
<!--                                                </svg>-->
<!--                                            </button>-->
<!--                                        </span>-->
<!--                                    </template>-->

<!--                                    <template #content>-->
<!--                                        <div class="w-60">-->
<!--                                            &lt;!&ndash; Team Management &ndash;&gt;-->
<!--                                            <template v-if="$page.props.jetstream.hasTeamFeatures">-->
<!--                                                <div class="block px-4 py-2 text-xs text-gray-400">-->
<!--                                                    Manage Team-->
<!--                                                </div>-->

<!--                                                &lt;!&ndash; Team Settings &ndash;&gt;-->
<!--                                                <jet-dropdown-link :href="route('teams.show', $page.props.user.current_team)">-->
<!--                                                    Team Settings-->
<!--                                                </jet-dropdown-link>-->

<!--                                                <jet-dropdown-link :href="route('teams.create')" v-if="$page.props.jetstream.canCreateTeams">-->
<!--                                                    Create New Team-->
<!--                                                </jet-dropdown-link>-->

<!--                                                <div class="border-t border-gray-100"></div>-->

<!--                                                &lt;!&ndash; Team Switcher &ndash;&gt;-->
<!--                                                <div class="block px-4 py-2 text-xs text-gray-400">-->
<!--                                                    Switch Teams-->
<!--                                                </div>-->

<!--                                                <template v-for="team in $page.props.user.all_teams" :key="team.id">-->
<!--                                                    <form @submit.prevent="switchToTeam(team)">-->
<!--                                                        <jet-dropdown-link as="button">-->
<!--                                                            <div class="flex items-center">-->
<!--                                                                <svg v-if="team.id == $page.props.user.current_team_id" class="mr-2 h-5 w-5 text-green-400" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24"><path d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>-->
<!--                                                                <div>{{ team.name }}</div>-->
<!--                                                            </div>-->
<!--                                                        </jet-dropdown-link>-->
<!--                                                    </form>-->
<!--                                                </template>-->
<!--                                            </template>-->
<!--                                        </div>-->
<!--                                    </template>-->
<!--                                </jet-dropdown>-->
<!--                            </div>-->

                            <!-- Settings Dropdown -->
                            <div class="ml-3 relative">
                                <jet-dropdown align="right" width="48">
                                    <template #trigger>
                                        <button v-if="$page.props.jetstream.managesProfilePhotos" class="flex text-sm border-2 border-transparent rounded-full focus:outline-none focus:border-gray-300 transition">
                                            <img class="h-8 w-8 rounded-full object-cover" :src="$page.props.user.profile_photo_url" :alt="$page.props.user.name" />
                                        </button>

                                        <span v-else-if="!$page.props.user">
<!--                                            <div class="flex items-center space-x-4">-->
<!--                                                <a :href="route('login')" class="flex space-x-1 items-center hover:text-gray-500">-->
<!--                                                    <svg class="hidden sm:inline w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"></path></svg>-->
<!--                                                    <span>Sign in</span>-->
<!--                                                </a>-->
<!--                                                    <a :href="route('register')" class="inline-block bg-gradient-to-br from-yellow-400 to-green-600 hover:from-green-500 hover:to-green-700 font-semibold py-2 px-5 text-white ">Register</a>-->

<!--                                            </div>-->
                                        </span>
                                        <span v-else class="inline-flex rounded-md">
                                            <button type="button" class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-gray-500 bg-white hover:text-gray-700 focus:outline-none transition">
                                                {{ $page.props.user.name }}

                                                <svg class="ml-2 -mr-0.5 h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                                    <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                                                </svg>
                                            </button>
                                        </span>

                                    </template>

                                    <template #content>
                                        <!-- Account Management -->
                                        <div class="block px-4 py-2 text-xs text-gray-400">
                                            Manage Account
                                        </div>

                                        <div v-if="$page.props.user">
                                            <jet-dropdown-link :href="route('profile.show')" v-if="$page.props.user.guard==='web'">
                                                Profile
                                            </jet-dropdown-link>
                                        </div>

                                        <jet-dropdown-link :href="route('api-tokens.index')" v-if="$page.props.jetstream.hasApiFeatures">
                                            API Tokens
                                        </jet-dropdown-link>

                                        <div class="border-t border-gray-100"></div>

                                        <!-- Authentication -->
                                        <form @submit.prevent="logout">
                                            <jet-dropdown-link as="button">
                                                Log Out
                                            </jet-dropdown-link>
                                        </form>
                                    </template>
                                </jet-dropdown>
                            </div>
                        </div>



                            <div v-if="!authenticated " class="flex inline-flex items-center space-x-4 ml-3 relative">
                                <jet-dropdown align="left" width="48">
                                    <template #trigger>

                                        <span class="inline-flex rounded-md">
                                            <a class="flex space-x-1 items-center hover:text-gray-500">
                                                <svg class="hidden sm:inline w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"></path></svg>
                                                <span class="text-sm sm:text-base">Sign In</span>
                                            </a>
                                        </span>

                                    </template>

                                    <template #content>

                                        <jet-dropdown-link :href="route('login')">
                                            Login to request a truck
                                        </jet-dropdown-link>
                                        <div class="border-t border-gray-100"></div>
                                        <jet-dropdown-link :href="route('carriers.login')">
                                            Login to as a Driver
                                        </jet-dropdown-link>
                                        <div class="border-t border-gray-100"></div>
                                        <jet-dropdown-link :href="route('partner.login')">
                                            Login as a Partner (Warehouse | Fleet Provider)
                                        </jet-dropdown-link>
                                    </template>
                                </jet-dropdown>
                                <jet-dropdown align="right" width="48">
                                    <template #trigger>
                                            <a class="inline-block sm:inline bg-gradient-to-br from-yellow-400 to-green-600 hover:from-green-500 hover:to-green-700 font-semibold py-2 px-5 text-white ">
                                                Register
                                            </a>
                                    </template>

                                    <template #content>

                                        <jet-dropdown-link :href="route('register')">
                                            Register to request a truck
                                        </jet-dropdown-link>
                                        <div class="border-t border-gray-100"></div>
                                        <jet-dropdown-link :href="route('carriers.register')">
                                            Register to as a Driver
                                        </jet-dropdown-link>
                                        <div class="border-t border-gray-100"></div>
                                        <jet-dropdown-link :href="route('partner.register')">
                                            Register as a Partner (Warehouse | Fleet Provider)
                                        </jet-dropdown-link>
                                    </template>
                                </jet-dropdown>
                            </div>

                        <!-- Hamburger -->
                        <div class="-mr-2 flex items-center sm:hidden">
                            <button @click="showingNavigationDropdown = ! showingNavigationDropdown" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition">
                                <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                                    <path :class="{'hidden': showingNavigationDropdown, 'inline-flex': ! showingNavigationDropdown }" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                                    <path :class="{'hidden': ! showingNavigationDropdown, 'inline-flex': showingNavigationDropdown }" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Responsive Navigation Menu -->
                <div :class="{'block': showingNavigationDropdown, 'hidden': ! showingNavigationDropdown}" class="sm:hidden">
                    <div class="pt-2 pb-3 space-y-1">
                        <jet-responsive-nav-link :href="route('homepage')" :active="route().current('homepage')">
                            Home
                        </jet-responsive-nav-link>
                    <jet-responsive-nav-link :href="route('searching')" :active="route().current('searching')">
                            Request for a truck
                        </jet-responsive-nav-link>
                    <jet-responsive-nav-link :href="route('carriers.dashboard')" :active="route().current('carriers.dashboard')">
                            Carrier
                        </jet-responsive-nav-link>
                    <jet-responsive-nav-link :href="route('partner.dashboard')" :active="route().current('partner.dashboard')">
                            Partners
                        </jet-responsive-nav-link>
                    </div>

                    <!-- Responsive Settings Options -->
                    <div v-if="$page.props.user" class="pt-4 pb-1 border-t border-gray-200">
                        <div class="flex items-center px-4">
                            <div v-if="$page.props.jetstream.managesProfilePhotos" class="flex-shrink-0 mr-3" >
                                <img class="h-10 w-10 rounded-full object-cover" :src="$page.props.user.profile_photo_url" :alt="$page.props.user.name" />
                            </div>

                            <div>
                                <div class="font-medium text-base text-gray-800">{{ $page.props.user.name }}</div>
                                <div class="font-medium text-sm text-gray-500">{{ $page.props.user.email }}</div>
                            </div>
                        </div>

                        <div class="mt-3 space-y-1">
                            <jet-responsive-nav-link v-if="$page.props.user.guard==='web'" :href="route('profile.show')" :active="route().current('profile.show')">
                                Profile
                            </jet-responsive-nav-link>

<!--                            <jet-responsive-nav-link :href="route('api-tokens.index')" :active="route().current('api-tokens.index')" v-if="$page.props.jetstream.hasApiFeatures">-->
<!--                                API Tokens-->
<!--                            </jet-responsive-nav-link>-->

                            <!-- Authentication -->
                            <form method="POST" @submit.prevent="logout">
                                <jet-responsive-nav-link as="button">
                                    Log Out
                                </jet-responsive-nav-link>
                            </form>

                            <!-- Team Management -->
<!--                            <template v-if="$page.props.jetstream.hasTeamFeatures">-->
<!--                                <div class="border-t border-gray-200"></div>-->

<!--                                <div class="block px-4 py-2 text-xs text-gray-400">-->
<!--                                    Manage Team-->
<!--                                </div>-->

<!--                                &lt;!&ndash; Team Settings &ndash;&gt;-->
<!--                                <jet-responsive-nav-link :href="route('teams.show', $page.props.user.current_team)" :active="route().current('teams.show')">-->
<!--                                    Team Settings-->
<!--                                </jet-responsive-nav-link>-->

<!--                                <jet-responsive-nav-link :href="route('teams.create')" :active="route().current('teams.create')">-->
<!--                                    Create New Team-->
<!--                                </jet-responsive-nav-link>-->

<!--                                <div class="border-t border-gray-200"></div>-->

<!--                                &lt;!&ndash; Team Switcher &ndash;&gt;-->
<!--                                <div class="block px-4 py-2 text-xs text-gray-400">-->
<!--                                    Switch Teams-->
<!--                                </div>-->

<!--                                <template v-for="team in $page.props.user.all_teams" :key="team.id">-->
<!--                                    <form @submit.prevent="switchToTeam(team)">-->
<!--                                        <jet-responsive-nav-link as="button">-->
<!--                                            <div class="flex items-center">-->
<!--                                                <svg v-if="team.id == $page.props.user.current_team_id" class="mr-2 h-5 w-5 text-green-400" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24"><path d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>-->
<!--                                                <div>{{ team.name }}</div>-->
<!--                                            </div>-->
<!--                                        </jet-responsive-nav-link>-->
<!--                                    </form>-->
<!--                                </template>-->
<!--                            </template>-->
                        </div>
                    </div>
                </div>
            </nav>

            <!-- Page Heading -->
            <header class="bg-white shadow" v-if="$slots.header">
                <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
                    <slot name="header"></slot>
                </div>
            </header>

            <!-- Page Content -->
            <main>
                <slot>

                </slot>
            </main>
        </div>
    </div>
</template>

<script>
    import JetApplicationMark from '@/Jetstream/ApplicationMark'
    import JetBanner from '@/Jetstream/Banner'
    import JetDropdown from '@/Jetstream/Dropdown'
    import JetDropdownLink from '@/Jetstream/DropdownLink'
    import JetNavLink from '@/Jetstream/NavLink'
    import JetResponsiveNavLink from '@/Jetstream/ResponsiveNavLink'

    export default {

        components: {
            JetApplicationMark,
            JetBanner,
            JetDropdown,
            JetDropdownLink,
            JetNavLink,
            JetResponsiveNavLink,
        },

        props: {
            authenticated : Boolean,
        },
        data() {
            return {
                showingNavigationDropdown: false,
            }
        },

        methods: {

            switchToTeam(team) {
                this.$inertia.put(route('current-team.update'), {
                    'team_id': team.id
                }, {
                    preserveState: false
                })
            },


            logout() {
                this.$inertia.post(route('partner.logout'));
                this.$inertia.post(route('carriers.logout'));
                this.$inertia.post(route('logout'));
            },
        },

    }
</script>
