<template>
    <app-layout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Dashboard
            </h2>
        </template>

        <jet-modal v-if="hasRequest">
            You have a new request
        </jet-modal>
        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
                    <div>
                        <header-stats/>
                    </div>
                </div>
            </div>
        </div>
    </app-layout>
</template>

<script>
import AppLayout from '@/Layouts/AppLayout'
import HeaderStats from "@/Components/HeaderStats";
import JetModal from "@/Jetstream/Modal";

export default {
    name: "CarriersDashboard",
    components: {
        JetModal,
        AppLayout,
        HeaderStats,
    },
    methods: {
        hasRequest(){
            return false;
        }
    }
}
</script>

