<template>
    <section class="min-h-screen flex items-stretch text-white ">
        <div class="lg:flex w-1/2 hidden bg-gradient-to-r from-green-500 to-blue-500 bg-no-repeat bg-cover relative items-center">
            <div class="absolute opacity-60 z-0">
                <img class="z-30 object-contain" :src="'../storage/assets/faakolore_order_page.png'" alt="order_page">
            </div>
            <div class="w-full px-24 z-10">
                <h1 class="text-5xl font-bold text-left tracking-wide">Take control of your freight</h1>
                <p class="text-3xl my-4">Faakolore makes it easy to get book with ease, track your produce in real time.</p>
            </div>
            <div class="bottom-0 absolute p-4 text-center right-0 left-0 flex justify-center space-x-4">
                <a href="https://twitter.com/faakolore" target="_blank">
                    <svg fill="#fff" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"/></svg>
                </a>
                <a href="https://facebook.com/faakoloregh/" target="_blank">
                    <svg fill="#fff" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z"/></svg>
                </a>
                <!--                <span>-->
                <!--                    <svg fill="#fff" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059 1.281-.073 1.689-.073 4.948 0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98 1.281.058 1.689.072 4.948.072 3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.949-.073zm0 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.163 6.162 6.163 6.162-2.759 6.162-6.163c0-3.403-2.759-6.162-6.162-6.162zm0 10.162c-2.209 0-4-1.79-4-4 0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.21-1.791 4-4 4zm6.406-11.845c-.796 0-1.441.645-1.441 1.44s.645 1.44 1.441 1.44c.795 0 1.439-.645 1.439-1.44s-.644-1.44-1.439-1.44z"/></svg>-->
                <!--                </span>-->
            </div>
        </div>
        <div class="lg:w-1/2 w-full flex items-center justify-center text-center md:px-16 px-0 z-0 bg-gray-100">
            <div class="absolute lg:hidden z-10 inset-0 bg-gradient-to-r from-green-500 to-blue-500 bg-no-repeat bg-cover items-center">
                <div class="absolute opacity-60 inset-0 z-0">
                </div>
            </div>
            <div class="w-full py-6 z-20">
                <h1 class="my-6">
                    <inertia-link href="/">
                        <logo-png class="w-auto inline-flex z-10 w-50 h-20 fill-current text-gray-500" />
                    </inertia-link>
                </h1>
                <h3 class="uppercase sm:text-gray-700">Register an account to request a truck</h3>


                <form class="sm:w-2/3 w-full px-4 lg:px-0 mx-auto" @submit.prevent="submit">

                    <input-holder>
                        <template #label>
                            <breeze-label :class="'sm:text-black justify-start'" for="name" value="Name"/>
                        </template>
                        <template #icon>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd" />
                            </svg>
                        </template>
                        <template #input>
                            <breeze-input id="name" type="text" class="text-gray-700 mt-1 block w-full -ml-10 pl-10 pr-3 py-2 outline-none" v-model="form.name" required autofocus autocomplete="name" />
                        </template>
                    </input-holder>
                    <span v-if="hasErrors" class="error text-red-600 text-xs">{{form.errors.name}}</span>


                    <input-holder>
                        <template #label>
                            <breeze-label :class="'sm:text-black justify-start'" for="email" value="Email" />
                        </template>
                        <template #icon>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
                                <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
                            </svg>
                        </template>
                        <template #input>
                            <breeze-input id="email" type="email" class="text-gray-700 mt-1 block w-full -ml-10 pl-10 pr-3 py-2 outline-none" v-model="form.email" required/>
                        </template>
                    </input-holder>
                    <span v-if="hasErrors" class="error text-red-600 text-xs">{{form.errors.email}}</span>


                    <!--            <div class="mt-4">-->
                    <!--                <breeze-label for="phone" value="Phone" />-->
                    <!--                <breeze-input id="phone" type="tel" class="mt-1 block w-full" v-model="form.phone" required />-->
                    <!--            </div>-->

                    <!--            <div class="mt-4">-->
                    <!--                    <vue-tel-input-->
                    <!--                        v-model="form.phone"-->
                    <!--                        :value="updatePhone"-->
                    <!--                    mode="national">-->
                    <!--                    </vue-tel-input>-->
                    <!--            </div>-->
                    <input-holder>
                        <template #label>
                            <breeze-label :class="'sm:text-black justify-start'" for="phone" class="px-1" value="Phone"/>
                        </template>
                        <template #icon>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                <path d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z" />
                            </svg>
                            <span>233</span>
                        </template>
                        <template #input>
                            <breeze-input type="tel" v-model="form.phone" maxlength="10" class="text-gray-700 w-full -ml-10 pl-10 pr-3 py-2 outline-none" placeholder="024 123 4567" required/>
                        </template>
                    </input-holder>
                    <span v-if="hasErrors" class="error text-red-600 text-xs">{{form.errors.phone}}</span>


                    <input-holder>
                        <template #label>
                            <breeze-label :class="'sm:text-black justify-start'" for="password" value="Password" />
                        </template>
                        <template #icon>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
                            </svg>
                        </template>
                        <template #input>
                            <breeze-input id="password" type="password" class="text-gray-700 mt-1 block w-full w-full -ml-10 pl-10 pr-3 py-2 outline-none" v-model="form.password" required autocomplete="new-password" />
                        </template>
                    </input-holder>
                    <span v-if="hasErrors" class="error text-red-600 text-xs">{{form.errors.password}}</span>


                    <input-holder>
                        <template #label>
                            <breeze-label :class="'sm:text-black justify-start'" for="password_confirmation" value="Confirm Password" />
                        </template>
                        <template #icon>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
                            </svg>
                        </template>
                        <template #input>
                            <breeze-input id="password_confirmation" type="password" class="text-gray-700 mt-1 block w-full -ml-10 pl-10 pr-3 py-2 outline-none" v-model="form.password_confirmation" required autocomplete="new-password" />
                        </template>
                    </input-holder>
                    <div class="mt-4" v-if="$page.props.jetstream.hasTermsAndPrivacyPolicyFeature">
                        <breeze-label for="terms">
                            <div class="flex items-center">
                                <breeze-checkbox name="terms" id="terms" v-model:checked="form.terms" />

                                <div class="ml-2">
                                    I agree to the <a target="_blank" :href="route('terms.show')" class="underline text-sm text-gray-600 hover:text-gray-900">Terms of Service</a> and <a target="_blank" :href="route('policy.show')" class="underline text-sm text-gray-600 hover:text-gray-900">Privacy Policy</a>
                                </div>
                            </div>
                        </breeze-label>
                    </div>


                    <div class="px-4 pb-2 pt-4">
                        <button type="submit" :class="{ 'opacity-25': form.processing }" :disabled="form.processing" class="uppercase block w-full p-4 text-lg rounded-full bg-green-500 hover:bg-green-600 focus:outline-none">register</button>
                    </div>
                    <div>
                        <nav-link :href="route('login')">Already registered, Sign in </nav-link>
                    </div>
                    <p class="sm:text-gray-500">
                        or register your account using
                    </p>
                    <div class="inline-flex py-6 space-x-2 justify-center">
                        <span class="w-10 h-10 items-center justify-center inline-flex rounded-full font-bold text-lg border-2 bg-blue-600 border-blue-600">f</span>
                        <span class="w-10 h-10 items-center justify-center inline-flex rounded-full font-bold text-lg border-2 border-white bg-white">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="w-6 h-6" viewBox="0 0 48 48"><defs><path id="a" d="M44.5 20H24v8.5h11.8C34.7 33.9 30.1 37 24 37c-7.2 0-13-5.8-13-13s5.8-13 13-13c3.1 0 5.9 1.1 8.1 2.9l6.4-6.4C34.6 4.1 29.6 2 24 2 11.8 2 2 11.8 2 24s9.8 22 22 22c11 0 21-8 21-22 0-1.3-.2-2.7-.5-4z"/></defs><clipPath id="b"><use xlink:href="#a" overflow="visible"/></clipPath><path clip-path="url(#b)" fill="#FBBC05" d="M0 37V11l17 13z"/><path clip-path="url(#b)" fill="#EA4335" d="M0 11l17 13 7-6.1L48 14V0H0z"/><path clip-path="url(#b)" fill="#34A853" d="M0 37l30-23 7.9 1L48 0v48H0z"/><path clip-path="url(#b)" fill="#4285F4" d="M48 48L17 24l-4-3 35-10z"/></svg>
                    </span>
                    </div>

                    <div class="p-4 text-center right-0 left-0 flex justify-center space-x-4 mt-16 lg:hidden ">
                        <a href="https://twitter.com/faakolore" target="_blank">
                            <svg fill="#fff" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"/></svg>
                        </a>
                        <a href="https://facebook.com/faakoloregh/" target="_blank">
                            <svg fill="#fff" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z"/></svg>
                        </a>
                        <!--                            <a href="#">-->
                        <!--                                <svg fill="#fff" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">-->
                        <!--                                    <path d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059 1.281-.073 1.689-.073 4.948 0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98 1.281.058 1.689.072 4.948.072 3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.949-.073zm0 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.163 6.162 6.163 6.162-2.759 6.162-6.163c0-3.403-2.759-6.162-6.162-6.162zm0 10.162c-2.209 0-4-1.79-4-4 0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.21-1.791 4-4 4zm6.406-11.845c-.796 0-1.441.645-1.441 1.44s.645 1.44 1.441 1.44c.795 0 1.439-.645 1.439-1.44s-.644-1.44-1.439-1.44z"/></svg>-->
                        <!--                            </a>-->
                    </div>
                </form>

            </div>
        </div>
    </section>
</template>

<script>
import BreezeInput from '@/Components/Input'
import BreezeLabel from '@/Components/Label'
import NavLink from "@/Jetstream/NavLink";
import InputHolder from "@/Components/InputHolder";
import BreezeCheckbox from "@/Components/Checkbox";
import LogoPng from "@/Components/LogoPng";

export default {

    components: {
        LogoPng,
        InputHolder,
        BreezeInput,
        BreezeLabel,
        BreezeCheckbox,
        NavLink,

    },

    data() {
        return {
            form: this.$inertia.form({
                name: '',
                email: '',
                phone:'',
                password: '',
                password_confirmation: '',
                terms: false,
            })
        }
    },

    methods: {
        submit() {
            this.form.post(this.route('register'), {
                onFinish: () => this.form.reset('password', 'password_confirmation'),
            })
        }
    },
    computed: {
        errors() {
            return this.$page.props.errors
        },

        hasErrors() {
            return Object.keys(this.errors).length > 0;
        },
    }
}
</script>
