<template>
    <jet-authentication-card>
        <template #logo>
            <jet-authentication-card-logo />
        </template>

        <div v-if="verifiedPhone" class="mb-4 text-sm text-blue-600">
            <!--        Thanks for signing up! Before getting started, could you verify your email address by clicking on the link we just emailed to you? If you didn't receive the email, we will gladly send you another.-->
            Thanks for signing up and verifying your phone number! Verify your email address by clicking on the link we just emailed to you. If you didn't receive the verification link, we will gladly send you another.
        </div>
        <div v-else-if="verifiedEmail" class="mb-4 text-sm text-purple-600">
            <!--        Thanks for signing up! Before getting started, could you verify your email address by clicking on the link we just emailed to you? If you didn't receive the email, we will gladly send you another.-->
            Thanks for signing up and verifying your email address! Verify your phone number ({{$page.props.user.phone}}) by entering the verification code we just texted to you. If you didn't receive the verification code, we will gladly send you another.
        </div>
        <div v-else class="mb-4 text-sm text-gray-600">
            <!--        Thanks for signing up! Before getting started, could you verify your email address by clicking on the link we just emailed to you? If you didn't receive the email, we will gladly send you another.-->
            Thanks for signing up! Before getting started, could you verify your email address by clicking on the link we just emailed to you and phone number ({{$page.props.user.phone}}) by entering the verification code we just texted to you. If you didn't receive the verification code, we will gladly send you another.
        </div>

        <div class="mb-4 font-medium text-sm text-green-600" v-if="verificationEmailLinkSent" >
                    A new verification link has been sent to the email address you provided during registration.
<!--            A new verification code has been sent to the phone number you provided during registration. ({{$page.props.user.phone}})-->
        </div>
        <div class="mb-4 font-medium text-sm text-green-600" v-if="verificationPhoneLinkSent" >
            <!--        A new verification link has been sent to the email address you provided during registration.-->
            A new verification code has been sent to the phone number you provided during registration. ({{$page.props.user.phone}})
        </div>
        <div class="flex flex-col">
            <form v-if="!verifiedEmail" @submit.prevent="reSubmitEmail">
                <div class="flex w-full md:justify-start justify-center items-end">
                    <inertia-link :href="route('verification.send')" method="post" as="button"
                                  :class="{ 'opacity-25': form.processing }" :disabled="form.processing"
                                  class="inline-flex text-white bg-green-500 border-0 py-2 px-6 focus:outline-none hover:bg-green-600 text-lg">
                        Resend email verification link
                    </inertia-link>
                </div>
            </form>

            <form v-if="!verifiedPhone" @submit.prevent="submit">
                <div class="flex w-full md:justify-start justify-center items-end">
                    <div class="relative mr-4 lg:w-full xl:w-1/2 w-2/4">
                        <label for="form.phone" class="leading-7 text-sm text-gray-600">Enter your verification code</label>
                        <input type="text" id="form.phone" v-model="form.code" name="form.phone" required class="w-full bg-gray-100 bg-opacity-50 border border-gray-300 focus:ring-2 focus:ring-green-200 focus:bg-transparent focus:border-green-500 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                    </div>
                    <button class="inline-flex text-white bg-green-500 border-0 py-2 px-6 focus:outline-none hover:bg-green-600 text-lg">Verify Phone</button>
                </div>
                <span v-if="hasErrors" class="error text-red-600 text-xs">{{ errors.code }}</span>
                <div class="mt-4 flex items-center justify-between">
                    <!--            <breeze-button :class="{ 'opacity-25': form.processing }" :disabled="form.processing">-->
                    <!--                Resend Verification Email-->
                    <!--            </breeze-button>-->

                    <inertia-link :href="route('phone.verification.send')" method="post" as="button" class="underline text-sm text-gray-600 hover:text-gray-900">Resend phone verification code</inertia-link>
                    <inertia-link :href="route('logout')" method="post" as="button" class="underline text-sm text-gray-600 hover:text-gray-900">Log Out</inertia-link>
                </div>
            </form>
        </div>
    </jet-authentication-card>
</template>

<script>
    import JetAuthenticationCard from '@/Jetstream/AuthenticationCard'
    import JetAuthenticationCardLogo from '@/Jetstream/AuthenticationCardLogo'
    import JetButton from '@/Jetstream/Button'

    export default {
        components: {
            JetAuthenticationCard,
            JetAuthenticationCardLogo,
            JetButton
        },

        props: {
            status: String
        },

        data() {
            return {
                form: this.$inertia.form({
                    code:''
                })
            }
        },

        methods: {
            submit() {
                this.form.put(this.route('phone.verification.verify'))
            },
            reSubmitEmail(){
                this.form.post(this.route('verification.send'))
            }
        },

        computed: {
            verificationEmailLinkSent() {
                return this.status === 'verification-email-link-sent';
            },
            verificationPhoneLinkSent() {
                return this.status === 'verification-phone-link-sent';
            },
            verifiedPhone(){
                return this.$page.props.user.phone_verified_at;
            },
            verifiedEmail(){
                return this.$page.props.user.email_verified_at
            },
            timer(){
                return
            },
            errors() {
                return this.$page.props.errors
            },
            hasErrors() {
                return Object.keys(this.errors).length > 0;
            },
        }
    }
</script>
